<div *nfIf="showInSubNavigation" animate-box #navigationItem="ab" class="item-menu clear dashboard-item-nav" [ngClass]="{'item-menu-short': showmininav.showNav}" #isIcon
     #activeItem="active" active-item #faAngleLeft="fa-angle-left" angle-left>
    <a [class.active]="activeItem.isActiveMainItem(nameItem)" (click)="navigationItem.toggle(icnDsh, false); icnDsh=!icnDsh;" class="dashboard sub-task clear">
        <i class="icon-left {{icon}}"></i>
        <div class="show-nav" [hidden]="showmininav.showNav">
            <span class="name-sub dashboard-item">{{nameItem | translate}}</span>
            <i class="fa dashboard-icon" [ngClass]="{'fa-angle-down': !icnDsh && faAngleLeft.isSubMenu(isIcon), 'fa-angle-left': icnDsh && faAngleLeft.isSubMenu(isIcon)}"></i>
        </div>
    </a>
    <ul class="dashboard-submenu sub-menu-item" [ngClass]="{'nav-subitem-relative': showmininav.showNav, 'save-state-item': icnDsh}">
        <!-- submenu too will use foreach loop  -->
        <li><a [class.activesub]="activeItem.isActiveSubDashboard('smstraffic')" [routerLink]="['./Dashboard', 'SMSTraffic']" class="smstraffic"><i class="subitem-icon-left icon-chart"></i>{{'SMSTRAFFIC' | translate}}</a></li>
        <li><a [class.activesub]="activeItem.isActiveSubDashboard('dlrtraffic')" [routerLink]="['./Dashboard', 'DLRTraffic']" class="dlrtraffic"><i class="subitem-icon-left fa fa-wrench"></i>{{'DLRTRAFFIC' | translate}}</a></li>
        <li><a [class.activesub]="activeItem.isActiveSubDashboard('finances')" [routerLink]="['./Dashboard', 'Finances']" class="finances"><i class="subitem-icon-left icon-docs"></i>{{'FINANCES' | translate}}</a></li>
        <li><a [class.activesub]="activeItem.isActiveSubDashboard('customers')" [routerLink]="['./Dashboard', 'Customers']" class="customers"><i class="subitem-icon-left icon-puzzle"></i>{{'CUSTOMERS' | translate}}</a></li>
    </ul>
</div>