$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.38)") !default;
$select-font-size: 14px;
$select-color: unquote("rgba(#{$color-black}, 0.38)") !default;
$select-padding: 4px;

select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: $select-padding 0;
    font-size: $select-font-size;
    color: $select-color;
    border: none;
    border-bottom: 1px solid $select-border-color;
}

select:focus {
    outline: none
}

.mdl-selectfield label {
    display: none;
}

.mdl-selectfield select {
    appearance: none
}

.mdl-selectfield {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding-bottom: 20px;
    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $select-border-color;
        pointer-events: none;
    }
}

.md-select {
    width: 200px;
    padding: 20px;
    margin: 0 auto;
    top: 50%;
    margin-top: -2em;
    position: absolute;
    right: 0;
    left: 0;
}
