*.iml
.idea
modules/core/target
/modules/admin/node_modules
modules/core/databases
modules/.idea
modules/admin/.idea
modules/admin/.com.google.Chrome.*
modules/admin/target
modules/admin/coverage
modules/admin/node_modules
modules/admin/src/bower_components
modules/admin/src/.sass-cache
modules/admin/src/assets/css/.sass-cache
modules/admin/src/app/components/.sass-cache
npm-debug.log
modules/admin/dist
modules/admin/typings
node_modules
databases
smsc
