[submodule "vendor/cloudhopper-commons"]
	path = vendor/cloudhopper-commons
	url = git@github.com:bulktrade/cloudhopper-commons.git
[submodule "vendor/SMPP"]
	path = vendor/SMPP
	url = git@github.com:bulktrade/SMPP.git
