<div class="mat-fab-wrap">
    <div class="mat-fab" routerLink="/dashboard/create">
        <i class="fa fa-plus"></i>
    </div>
</div>
<p-dataScroller [value]="dashboards" [rows]="10" [buffer]="0.4" *ngIf="idDashboards()">
    <p-header>{{ 'DASHBOARDS' | translate }}</p-header>
    <template let-dashboard pTemplate="item">
        <div class="ui-grid ui-grid-responsive ui-fluid dashboard-list-item">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3 toolbar">
                    <div class="control">
                        <button class="ui-button-success" pButton type="button"
                                [routerLink]="['/dashboard', dashboard.id, 'update']" [label]="'UPDATE' | translate"></button>
                        <button class="ui-button-danger" pButton type="button"
                                [routerLink]="['/dashboard', dashboard.id, 'delete']"[label]="'DELETE' | translate"></button>
                    </div>
                </div>
                <div class="ui-grid-col-9">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 column-name">Name:</div>
                            <div class="ui-grid-col-10 column-value">{{dashboard.name}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 column-name">Icon:</div>
                            <div class="ui-grid-col-10 column-value">{{dashboard.icon}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</p-dataScroller>
<p-panel *ngIf="!idDashboards()">
    <p-header>{{ 'dashboards.title' | translate }}</p-header>
    <span>{{ 'dashboards.notFound' | translate }}</span>
</p-panel>
