.ui-grid-row {
  text-align: center;
  .toolbar {
    display: flex;
    vertical-align: middle;
    button {
      margin-bottom: 5px;
    }
  }
}

.column-name,
.column-value {
  font-size: 20px;
}

.column-value {
  font-weight: bold;
}

.mat-fab-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.mat-fab {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  min-width: 0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 0;
  cursor: pointer;
  flex-shrink: 0;
  background-color: #009688;
  color: rgba(0, 0, 0, .87);
  &:hover {
    background: #018c7f;
  }
  i {
    color: #fff;
    margin-left: 21px;
    margin-top: 19px;
    font-size: 20px;
  }
}

.dashboard-list-item {
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #D5D5D5;
}

.ui-datascroller-list > li:last-child .dashboard-list-item {
  border-bottom: none;
}
