<div id="windowGrid">
    <div *ngIf="!crudService.showLinksetView" class="wrapGrid">
        <div class="opionPanel">
            <div class="searchPanel">
                <md-input placeholder="{{ 'SEARCH' | translate }}"
                        type="text" autocomplete="off" name="search" style=""
                        #db (keydown)="crudService.onFilterChanged(db.value, gridOptions)"
                        (keyup)="crudService.onFilterChanged(db.value, gridOptions)"></md-input>
                <button md-icon-button color="primary" class="searchBtn">
                    <md-icon class="md-24">search</md-icon>
                </button>
            </div>
            <div class="buttonsPanel">
                <button md-raised-button color="primary" (click)="router.navigateByUrl(crudService.currPath + '/create')" id="addRow">{{'ADD' | translate}}</button>
                <button md-raised-button color="warn" [disabled]="crudService.btnDeleteDisabled"
                        (click)="router.navigateByUrl(crudService.currPath + '/delete');" id="deleteRow">{{'DELETE' | translate}}</button>
            </div>
        </div>
        <alert *ngIf="crudService.dataNotFound" type="danger" dismissible="true" (close)="crudService.dataNotFound=false">
            {{ crudService.errorMessage | translate }}
        </alert>
        <alert *ngIf="crudService.successExecute" type="success" dismissible="true" (close)="crudService.successExecute=false">
            {{ crudService.successMessage | translate }}
        </alert>
        <ag-grid-ng2 class="ag-material"
                     [rowGroupPanelShow]="always" [columnDefs]="crudService.crudModel.columnDefs"
                     [gridOptions]="gridOptions" [rowData]="crudService.crudModel.rowData" (cellValueChanged)="crudService.cellValueChanged($event)"
                     (cellClicked)="crudService.clickOnCell($event)" (rowSelected)="crudService.rowSelected(gridOptions)"></ag-grid-ng2>
    </div>
    <div *ngIf="crudService.showLinksetView">
        <crud-linkset [crudService]="crudService"></crud-linkset>
    </div>
</div>
