<div id="windowGrid">
    <div [hidden]="showLinksetView" class="wrapGrid">
        <div class="opionPanel">
            <div class="searchPanel">
                <md-input placeholder="{{ 'SEARCH' | translate }}"
                        type="text" autocomplete="off" name="search" style=""
                        #db (keydown)="crudService.onFilterChanged(db.value, gridOptions)"
                        (keyup)="crudService.onFilterChanged(db.value, gridOptions)"></md-input>
                <button md-icon-button color="primary" class="searchBtn">
                    <md-icon class="md-24">search</md-icon>
                </button>
            </div>
            <div class="buttonsPanel buttons">
                <button md-raised-button color="primary" (click)="goToModify()" id="addRow">{{'ADD' | translate}}</button>
                <button md-raised-button color="warn" [disabled]="!gridOptions.api.getSelectedRows().length"
                        (click)="router.navigateByUrl(crudService.parentPath + '/delete');" id="deleteRow">{{'DELETE' | translate}}</button>
            </div>
        </div>
        <alert *ngIf="crudService.dataNotFound" type="danger" dismissible="true" (close)="crudService.dataNotFound=false">
            {{ crudService.errorMessage | translate }}
        </alert>
	    <alert *ngIf="crudService.isInfoMessage" type="info" dismissible="true" (close)="crudService.isInfoMessage=false">
            {{ crudService.infoMessage | translate }}
        </alert>
        <alert *ngIf="crudService.successExecute" type="success" dismissible="true" (close)="crudService.successExecute=false">
            {{ crudService.successMessage | translate }}
        </alert>
        <loading-grid [crudService]="crudService">
            <ag-grid-ng2 class="ag-material"
                     [rowGroupPanelShow]="always" [columnDefs]="crudService.crudModel.columnDefs" [overlayLoadingTemplate]="crudService.overlayLoadingTemplate()"
                     [gridOptions]="gridOptions" [rowData]="crudService.crudModel.rowData" (cellValueChanged)="crudService.cellValueChanged($event)"
                     (cellClicked)="clickOnCell($event); crudService.clickOnCell($event)" (rowSelected)="crudService.rowSelected(gridOptions)" (cellFocused)="crudService.focusedRow=$event.rowIndex"></ag-grid-ng2>
        </loading-grid>
        <div class="wrapBtn" *ngIf="crudService.multiCrud.length">
            <div class="navigationBtn buttons">
                <button md-raised-button color="primary" (click)="back()">{{'BACK' | translate}}</button>
                <button md-raised-button color="primary" (click)="addLink(gridOptions)">{{'ADDLINK' | translate}}</button>
            </div>
        </div>
    </div>
    <div *ngIf="showLinksetView">
        <loading-grid [crudService]="crudService">
            <crud-view></crud-view>
        </loading-grid>
    </div>
</div>
