<div id="dashboardBox" class="content rectangle" attr.data-boxrid="{{config.rid}}"
     [ngClass]="{'crudOpen': crudOpen}"
>
    <div class="innerWrap">
        <div class="closeTool">
            <i class="material-icons" (click)="crudOpen = false">clear</i>
        </div>
        <div class="crud">
            <div class="wrap">
                <div class="icon" (click)="crudOpen = true">
                    <div>
                        <i class="material-icons">more_vert</i>
                    </div>
                </div>
                <i class="material-icons button remove" (click)="emitRemoveBox()">delete_forever</i>
                <i class="material-icons button edit" (click)="emitEditBox()">mode_edit</i>
            </div>
        </div>
        <div class="view-width">
            <div class="wrap" [ngClass]="{'view-width-open': viewWidth}">
                <div>
                    <button (click)="emitResizeBox({val: 25, type: boxResize.HEIGHT})" [ngClass]="{'active': statusBoxHeight == 25}">
                        <span>
                           M
                        </span>
                    </button>
                    <button  (click)="emitResizeBox({val: 50, type: boxResize.HEIGHT})" [ngClass]="{'active': statusBoxHeight == 50}">
                        <span>
                            S
                        </span>
                    </button>
                    <button  (click)="emitResizeBox({val: 75, type: boxResize.HEIGHT})" [ngClass]="{'active': statusBoxHeight == 75}">
                        <span>
                            L
                        </span>
                    </button>
                    <button  (click)="emitResizeBox({val: 100, type: boxResize.HEIGHT})" [ngClass]="{'active': statusBoxHeight == 100}">
                        <span>
                            XL
                        </span>
                    </button>
                </div>
                <div>
                    <button (click)="emitResizeBox({val: 25, type: boxResize.WIDTH})" [ngClass]="{'active': statusBoxWidth == 25}">
                        <span>
                           25%
                        </span>
                    </button>
                    <button  (click)="emitResizeBox({val: 50, type: boxResize.WIDTH})" [ngClass]="{'active': statusBoxWidth == 50}">
                        <span>
                            50%
                        </span>
                    </button>
                    <button  (click)="emitResizeBox({val: 75, type: boxResize.WIDTH})" [ngClass]="{'active': statusBoxWidth == 75}">
                        <span>
                            75%
                        </span>
                    </button>
                    <button  (click)="emitResizeBox({val: 100, type: boxResize.WIDTH})" [ngClass]="{'active': statusBoxWidth == 100}">
                        <span>
                            100%
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="toolbar">
            <i class="material-icons icon fullscreen-icon" (click)="toggleFullscreen()">
                {{ fullscreenMode ? 'fullscreen' : 'fullscreen_exit' }}
            </i>
            <!--<i class="material-icons icon dragIcon">dashboard</i>-->
        </div>
        <md-card *ngIf="config.type == 'status'" class="status box {{ config.name }}"
                 [ngClass]="kindClass">
            <i class="material-icons icon">
                {{ config.icon }}
            </i>
            <div class="md-header md-title" [innerHTML]="config.header"></div>
            <div class="md-header md-subhead">
                {{ config.subHeader | translate }}
            </div>
            <div class="progress-container">
                <div class="progress-bar">
                    <span class="active-progress"></span>
                </div>
                <div class="info">
            <span class="status">
                {{ config.customData.processStatus | translate }}
            </span>
                <span class="percent">
                {{ config.customData.percent }}%
            </span>
                </div>
            </div>
        </md-card>

        <div *ngIf="config.type == 'chart'" class="chart">
            <md-card>
                <div class="md-header">
                    <div class="md-header-title">
                        {{ config.header | translate }}
                    </div>
                    <div class="md-header-subhead">
                        {{ config.subHeader | translate }}
                    </div>
                </div>
                <div class="body">
                    <line-chart [chartType]="config.kind" [dashboardTypeRid]="config.typeRid"></line-chart>
                </div>
            </md-card>
        </div>
    </div>
</div>
