$colorScheme: #2ab4c0;

:host {
  transition: all .5s;
  height: 146px;
  margin-bottom: 30px;

  .dashboard-box {
    position: relative;
    height: inherit;
    background: #fff;
    padding: 15px 15px 30px 15px;

    .chart-box-title {
      color: #2f353b;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .chart-box-desc {
      color: #9eacb4;
      font-size: 15px;
      padding-left: 7px;
      line-height: 25px;
    }

    hr {
      margin-top: 1.9rem;
      margin-bottom: 0.2rem;
    }

    .toolbar {
      display: flex;
      justify-content: flex-end;

      i {
        cursor: pointer;
        padding-left: 5px;
        font-size: 16px;
        color: #a0a0a0;

        &:hover {
          color: #8a8989;
        }
      }
    }

    .dashboard-name {
      display: block;
      font-size: 30px;
      color: $colorScheme;
    }

    .dashboard-description {
      font-size: 14px;
      color: #aab5bc;
      font-weight: 600;
    }

    .bottom-bar {
      position: absolute;
      width: calc(100% - 30px);
      bottom: 16px;
      background: $colorScheme;
      height: 4px;
    }
  }

  .dashboard-box-settings {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .9;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 15px;
    background: #fff;
    position: absolute;

    > div {
      display: inline-table;
      margin: auto;
    }

    i {
      top: 15px;
      right: 15px;
      color: #aab5bc;
      cursor: pointer;
      position: absolute;

      &:hover {
        color: #d9534f;
      }
    }
  }

  .chart-wrap {
    display: flex;
    p-chart {
      display: flex;
    }
  }
}

:host(.fullscreen) {
  transition: none;
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 999999999;
  height: 100% !important;
  margin: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}
