.grid-pagination {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';

    button {
        padding-top: 10px;
    }

    .page-summary-panel,
    .page-size {
        display: flex;
    }

    .row-summary-panel {
        padding: 15px 10px 0 0;
    }

    .previous-panel,
    .next-panel {
        flex-grow: 2;
    }

    .page-info {
        padding: 15px 5px 0 5px;
    }
}

@media all and (max-width: 550px) {
    .grid-pagination {
        .row-summary-panel {
            display: none;
        }
    }
}

