$colorHint: #A94442;

.addingForm {
	width: 100%;

    .form {
        padding: 0 15px;
        background: #fff;
        margin-bottom: 50px;

        > div {
            padding-top: 20px;
        }
    }

    .wrapBtn {
        display: flex;
        justify-content: flex-end;

        .formButtons {
            padding: 5px 0 15px 0;
        }
    }

    button {
        color: #fff;
    }

}
