<div class="addingForm">
	<p-panel>
		<header>
			<i class="fa fa-chevron-left" aria-hidden="true" title="{{ 'BACK' | translate }}" (click)="back()"
			   id="back-button"></i>
			<span>{{ crudService.getClassName() | uppercase | translate }}</span>
		</header>
		<form role="form" (ngSubmit)="onSubmit()" #dynamicForm="ngForm" novalidate>
			<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0">
				<ng-container *ngFor="let item of columnDefs">

					<ng-container [ngSwitch]="item.type">

						<ng-container *ngSwitchCase="'URI'">
							<div class="ui-grid-row">
								<div class="ui-grid-col-2">
									{{ item.property | translate }}
								</div>
								<div class="ui-grid-col-6">
									<multiple-select [property]="item" [(model)]="model[item.property]" [id]="item.property"></multiple-select>
								</div>
								<div class="ui-grid-col-4" *ngIf="false">
									<div class="ui-message ui-messages-error ui-corner-all">
										<i class="fa fa-close"></i>
										{{ (item.property | translate) + ' ' + ('crud.required' | translate) }}
									</div>
								</div>
							</div>
						</ng-container>

						<ng-container *ngSwitchCase="'Boolean'">
							<div class="ui-grid-row">
								<div class="ui-grid-col-2">
									{{ item.property | translate }}
								</div>
								<div class="ui-grid-col-6">
									<p-checkbox [name]="item.property" [binary]="true" [id]="item.property"
									            [(ngModel)]="model[item.property]"></p-checkbox>
								</div>
								<div class="ui-grid-col-4" *ngIf="false">
									<div class="ui-message ui-messages-error ui-corner-all">
										<i class="fa fa-close"></i>
										{{ (item.property | translate) + ' ' + ('crud.required' | translate) }}
									</div>
								</div>
							</div>
						</ng-container>

						<ng-container *ngIf="item.type === 'String' || item.type === 'Double'">
							<div class="ui-grid-row">
								<div class="ui-grid-col-2">
									{{ item.property | translate }}
								</div>
								<div class="ui-grid-col-6">
									<input pInputText class="form-control" [(ngModel)]="model[item.property]"
									       #field="ngModel"
									       required [name]="item.property" type="text" [id]="item.property">
								</div>
								<div class="ui-grid-col-4" *ngIf="field.invalid&&field.dirty">
									<div class="ui-message ui-messages-error ui-corner-all">
										<i class="fa fa-close"></i>
										{{ (item.property | translate) + ' ' + ('crud.required' | translate) }}
									</div>
								</div>
							</div>
						</ng-container>

						<ng-container *ngIf="item.type.includes(',')">

							<div class="ui-grid-row">
								<div class="ui-grid-col-2">
									{{ item.property | translate }}
								</div>
								<div class="ui-grid-col-6">
									<p-dropdown [name]="item.property" [options]="item.options"
									            [(ngModel)]="model[item.property]" [id]="item.property"></p-dropdown>
								</div>
								<div class="ui-grid-col-4" *ngIf="false">
									<div class="ui-message ui-messages-error ui-corner-all">
										<i class="fa fa-close"></i>
										{{ (item.property | translate) + ' ' + ('crud.required' | translate) }}
									</div>
								</div>
							</div>
						</ng-container>

					</ng-container>
				</ng-container>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2"></div>
					<div class="ui-grid-col-6">
						<button style="width: 100%" type="submit" class="btn btn-primary" id="updateProfile"
						        [disabled]="dynamicForm.form.invalid">
							<span *ngIf="formType === 'UPDATE'">{{ 'crud.update' | translate }}</span>
							<span *ngIf="formType === 'CREATE'">{{ 'crud.create' | translate }}</span>
						</button>
					</div>
					<div class="ui-grid-col-4"></div>
				</div>
			</div>
		</form>
	</p-panel>
</div>
