body {
  margin: 0;
  padding: 0;
}

html {
  background: #ccc;
}

.header {
  height: 74px;
  background: #fff;
  color: #fff;
  margin-bottom: 19px;
  .left-panel {
    float: left;
    padding: 26px 0 0 28px;
  }
}

/* left panel style */

.left-panel {
  .logo {
    float: left;
    color: #5B9BD1;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2px;
  }
  .menu-toggler {
    width: 20px;
    height: 14px;
    float: left;
    margin: 3px 0 0 116px;
    cursor: pointer;
    background: url("./../assets/img/sidebar-toggle-light.png");
  }
  .btn-actions {
    width: 78px;
    height: 30px;
    float: left;
    background: #F36A5A;
    margin: -5px 0 0 30px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    &:hover {
      background: #E62711;
    }
  }
  .name-btn {
    float: left;
    margin: 7px 0 0 10px;
  }
}

.btn-actions .fa-angle-down {
  margin-top: 10px;
}

/* right panel style */
.header .right-panel {
  float: right;
  height: 30px;
  padding: 24px 21px 0 0;
}

.right-panel {
  .search {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #D7E1EB;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #D7E1EB;
    cursor: pointer;
    margin-top: -3px;
  }
  .fa-search {
    margin: 6px 0 0 7px;
  }
  .notice {
    float: left;
    color: #D7E1EB;
    margin-left: 7px;
  }
}

.notice {
  li {
    height: 74px;
    margin: -24px 0 0 18px;
    padding: 24px 6px 0 6px;
    cursor: pointer;
    display: block;
    float: left;
    &:hover {background: #F9FAFC;}
  }
  i {
    float: left;
    margin: 4px 7px 0 0;
  }
  .counter {
    width: 25px;
    height: 25px;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 0 0 9px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
  }
  .bell {
    background: #36C6D3;
  }
  .envelope {
    background: #ED6B75;
  }
  .calendar {
    background: #337AB7;
  }
}

.right-panel .user-profile {
  float: left;
  height: 74px;
  margin: -24px 0 0 30px;
  padding: 24px 6px 0 6px;
  cursor: pointer;
  &:hover {background: #F9FAFC;}
}

.user-profile {
  display: block;
  .user-name {
    float: left;
    color: #8EC4ED;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 4px 14px 0 0;
  }
  .user-icon {
    float: left;
    width: 39px;
    height: 39px;
    background: url("./../assets/img/avatar.jpg");
    margin: -6px 5px 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.right-panel .glyphicon-log-out {
  float: left;
  margin: 6px 6px 0 10px;
  cursor: pointer;
  color: #D1D1D1;
  &:hover {
    color: #B0B0B0;
  }
}

.wrapper-user-menu .slide-menu {
  position: absolute;
  background: #536470;
  z-index: 1000;
  margin: 58px 0 0 -53px;
  display: none;
  float: left;
  min-width: 160px;
  padding: 8px 0 8px 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  .hor-line {
    background: #607482;
    height: 1px;
    margin: 10px 0;
  }
  &:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-bottom-color: #536470;
    content: '';
  }
  li {
    padding: 6px 15px;
    cursor: pointer;
    &:hover {background: #5F7381;}
  }
  a {
    .badge-danger {background: #F17475 !important;}
    .badge-success {background: #36C6D3 !important;}
    i {margin-right: 5px;}
    color: rgb(212, 218, 223);
    padding-right: 45px;
    text-decoration: none;
  }
  .badge {
    float: right;
  }
}

.side-bar {
  float: left;
  padding-top: 12px;
  background: #fff;
  margin: 0 22px 0 22px;
  font-size: 18px;
  color: rgb(91, 155, 209);
  .active-task {
    display: block;
    background: #F2F6F9;
    span {color: rgb(91, 155, 209);}
    &:before{
      content: "";
      position: absolute;
      float: left;
      display: block;
      width: 3px;
      height: 46px;
      left: 19px;
      margin-top: -13px;
      background: #5C9ACF;
    }
  }
  .subtask {
    margin: 0;
    > li {
      clear: both;
      .title {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        padding: 15px 0 17px 17px;
        color: rgb(92, 154, 207);
      }
      ul {
        clear: both;
        padding: 0;
        cursor: pointer;
        overflow: hidden;
        height: 0;
        a {
          display: block;
          padding: 9px 0 9px 30px;
          font-size: 14px;
          color: rgb(72, 90, 106);
          text-decoration: none;
          &:hover {
            background: #F2F6F9;
            color: rgb(91, 155, 209) !important;
          }
          .subitem-icon-left {
            float: left;
            font-size: 18px;
            color: rgb(167, 189, 205);
            margin: -2px 10px 0 0;
          }
        }
      }
    }
    .item-menu .sub-task {
      color: rgb(72, 90, 106);
      cursor: pointer;
      display: block;
      margin: 5px 0;
      &:hover {
        background: #F2F6F9;
        color: rgb(91, 155, 209) !important;
      }
      padding: 13px 0 13px 22px;
      .icon-left {
        float: left;
        font-size: 18px;
        color: rgb(167, 189, 205);
      }
      .fa {
        float: right;
        margin: 0 23px 0 58px;
      }
      .last {
        margin-top: -18px !important;
      }
      .fa:last-of-type {

      }
      .name-sub {
        float: left;
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
}

.toggler-btn-active {
  margin: 0 12px 0 18px !important;
}

.item-menu-short {
  width: 65px !important;
}

.nav-subitem-relative {
  position: absolute;
  background: #fff;
  margin: -49px 0 0 65px;
  width: 168px;
  height: 0;
  z-index: 1000;
  a{
    padding: 14px 0 13px 10px !important;
  }
}

.main {
  width: 98.5%;}