:host {
  display: block;
  height: calc(100% - 29px);
}

.dashboard-toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
  padding-right: 8px;

  .create-box-button {
    width: 56px;
    height: 56px;
    display: flex;
    padding: 0;
    min-width: 0;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 50%;
    background: #009688;
    transition: background .4s;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

    &:hover {
      background: #018e81;
    }

    i {
      margin: auto;
      color: #fff;
    }
  }
}

@media screen and (max-width: 640px) {
  .dashboard-toolbar {
    padding: 0;
    margin-bottom: 12px;
  }
}
