.header {
    font-family: 'Open Sans', sans-serif;

    h1 {
        margin: 0 0 0 5px;
        font-size: 1.5rem;
        line-height: 40px;
        font-weight: 300;
    }

    md-toolbar {
        md-icon {
            cursor: pointer;
        }

        .toolbar {
            display: flex;
            width: 100%;
        }
    }
}

.sidenav-root {
    font-family: Roboto, 'Helvetica Neue', sans-serif;

    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    md-sidenav {
        min-width: 15%;
        color: #000;
        top: 85px !important;
        bottom: initial !important;

        [md-button] {
            width: 100%;
            position: relative;
            bottom: 0;
            margin: 24px 0;
        }
    }

    main {
        position: relative;
        top: 94px;
        padding: 0 22px 0 22px;
    }

    a:hover {
        text-decoration: none;
        color: #000 !important;
    }
}

@media (min-width: 992px) {
    md-sidenav.md-sidenav-opened + md-content {
        margin-left: 224px !important;
    }
}

@media (max-width: 992px) {
    md-sidenav {
        position: relative !important;
    }

    md-sidenav.md-sidenav-closed {
        position: fixed !important;
        /*display: none !important;*/
    }

    md-content {
        margin: 0 !important;
    }
}
