$primaryColor: #009688;

#navigation-window {
    height: 100%;

    .header {
        font-family: 'Open Sans', sans-serif;
        background: $primaryColor;
        border-radius: 0;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        color: #fff;
        z-index: 99999;
        align-items: center;
        position: absolute;
        width: 100vw;
        top: 0;
        left: 0;

        .toolbar {
            height: 51px;
            display: flex;
            align-items: center;
            padding: 0 20px;

            .left-panel,
            .right-panel {
                display: flex;
                align-items: center;
            }

            .right-panel {
                i {
                    padding-left: 7px;
                }
            }

            #logout {
                padding-right: 0;
            }

            i {
                cursor: pointer;
                padding-right: 5px;
                font-size: 18px;
            }
        }

        //position: relative; @todo check problem with fullscreen dashboard boxes

        &.fullscreen-mode {
            z-index: -1;
        }

        h1 {
            margin: 0 0 0 5px;
            font-size: 1.4rem;
            line-height: 40px;
            font-weight: 300;
            cursor: pointer;
        }

        #btn-menu:focus {
            outline: 0;
        }
    }

    #wrapper {
        height: 100%;
        font-family: Roboto, 'Helvetica Neue', sans-serif;
        overflow: auto;

        // Helps fonts on OSX looks more consistent with other systems
        // Isn't currently in button styles due to performance concerns
        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        #sidebar-wrapper {
            overflow-y: hidden;
        }

        .mainContent {
            position: relative;
            height: 100%;
            min-height: 525px;
            padding: 71px 22px 12px 22px;

            & + loading-router-outlet {
                display: flex;
                height: 100%;
            }
        }

    }
}

@media (min-width: 992px) {
    #desktopMenu {
        display: block;
    }

    #mobileMenu {
        display: none;
    }
}

@media (max-width: 992px) {
    #desktopMenu {
        display: none;
    }

    #mobileMenu {
        display: block;
    }
}

@media (max-width: 540px) {
    .mainContent {
        padding: 82px 10px 12px 10px !important;
    }
}

