<div id="navigation-window">
    <div id="wrapper" [ngClass]="{'toggled': toggleLeftSidebar}">
        <div class="topbar">
            <!-- Header -->
            <div class="card header">
                <div class="toolbar">
                    <div class="left-panel">
                        <i id="desktopMenu" class="fa fa-bars" (click)="toggleLeftSidebar=!toggleLeftSidebar"></i>
                        <h1 style="float: left;" [routerLink]="['/']" id="logo">{{ 'project.title' | translate }}</h1>
                    </div>
                    <div class="ui-md-12 ui-sm-12"></div>
                    <div class="right-panel pull-right">
                        <i class="fa fa-user pull-right" [routerLink]="['/profile']" aria-hidden="true"></i>
                        <i class="fa fa-sign-out pull-right" (click)="logout()" id="logout"></i>
                        <i class="fa fa-bars pull-right" (click)="toggleUpSidebar=!toggleUpSidebar" id="mobileMenu"></i>
                    </div>
                </div>
            </div>
            <!-- /#header -->

            <!-- Sidebar -->
            <div id="sidebar-wrapper" [@state]="!toggleUpSidebar ? 'open' : 'closed'">
                <ul class="sidebar-nav">
                    <sidebar></sidebar>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
        </div>

        <!-- Page Content -->
        <main class="main-content">
            <no-internet>
                <loading-router-outlet></loading-router-outlet>
            </no-internet>
        </main>
        <!-- /#page-content-wrapper -->
    </div>
</div>
