.header {
    font-family: 'Open Sans', sans-serif;
    position: relative;

    h1 {
        margin: 0 0 0 5px;
        font-size: 1.5rem;
        line-height: 40px;
        font-weight: 300;
        cursor: pointer;
    }

    md-toolbar {
        md-icon {
            cursor: pointer;
        }

        .toolbar {
            display: flex;
            width: 100%;
        }
    }

    #btn-menu:focus {
        outline: 0;
    }
}

.sidenav-root {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    overflow: auto;

    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    md-sidenav {
        min-width: 230px;

        ul > li {
            list-style-type: none;
        }

        .customer-card {
            height: 100%;
        }

        a,
        a:link,
        a:active,
        a:hover,
        a:visited {
            text-decoration: none;
            white-space: nowrap;
        }

        color: #000;
        top: 85px !important;
        bottom: initial !important;

        [md-button] {
            width: 100%;
            position: relative;
            bottom: 0;
            margin: 24px 0;
        }
    }

    main {
        position: relative;
        height: 100%;
        padding: 94px 22px 40px 22px;
        min-height: 525px;

        & + loading-router-outlet {
            display: flex;
            height: 100%;
        }
    }

}

breadcrumb {
    display: none !important;
}

@media (min-width: 992px) {
}

@media (max-width: 992px) {
    md-sidenav {
        position: relative !important;
    }

    md-sidenav.md-sidenav-closed {
        position: fixed !important;
    }

    md-content {
        margin-left: 0 !important;
    }
}

.md-card {
    height: 100%;
}
