<div id="navigation-window">
	<div class="card header">
		<div class="toolbar">
			<div class="left-panel">
				<i id="desktopMenu" class="fa fa-bars" (click)="toggle=!toggle"></i>
				<h1 style="float: left;" [routerLink]="['/']" id="logo">{{ 'project.title' | translate }}</h1>
			</div>
			<div style="width: 100%;"></div>
			<div class="right-panel">
				<i class="fa fa-user pull-right" aria-hidden="true"></i>
				<i class="fa fa-sign-out pull-right" (click)="logout()" id="logout"></i>
				<i class="fa fa-bars pull-right" (click)="toggledUp=!toggledUp" id="mobileMenu"></i>
			</div>
		</div>
	</div>

	<div id="wrapper" [ngClass]="{'toggled': toggle || sidebarService.toggle}">
		<!-- Sidebar -->
		<div id="sidebar-wrapper" [@state]="!toggledUp ? 'open' : 'closed'">
			<ul class="sidebar-nav">
				<sidebar></sidebar>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<main class="mainContent">
			<no-internet>
				<loading-router-outlet></loading-router-outlet>
			</no-internet>
		</main>
		<!-- /#page-content-wrapper -->
	</div>
</div>
