#multipleSelect {
    #multipleSelectComponent {
        border: 1px solid #d6d6d6;
        border-radius: 3px;
        color: rgba(0, 0, 0, 0.38);
        font-size: 14px;
        padding: 5px;
        margin-top: 7px;

        i {
            font-size: 21px;
            cursor: pointer;

            &:hover {
                color: green;
            }
        }

        .remove-item {
            &:hover {
                color: red;
            }
        }

        .items {
            display: inline-block;
            float: left;
            margin-right: 10px;
        }

        .link {
            padding: 3px 5px;
            border: 1px solid #d6d6d6;
            border-radius: 3px;
        }

        .items,
        .link {
            display: flex;
        }

        #add {
            padding-top: 2px;
        }
    }
}
