<div id="multipleSelect">
	<div id="multipleSelectComponent">
		<div *ngFor="let item of items; let i = index" class="items">
			<div class="link">
				<div class="title">{{ item.label }}</div>
				<i class="material-icons remove-item" (click)="removeItem(i)">remove_circle_outline</i>
			</div>
		</div>
		<i class="material-icons" id="add" title="{{'ADD' | translate}}"
		   (click)="addLinkset()">add_circle</i>
		<i class="material-icons" title="{{'CLEARALL' | translate}}"
		   (click)="clearAll()" id="clearAll">clear_all</i>
	</div>
	<ng-content id="hint"></ng-content>
</div>
