$colorHint: #A94442;

:host {
    display: flex;
    padding-bottom: 15px;
}

#customers-form {
	width: 100%;

    #back-button {
        padding-right: 10px;
        cursor: pointer;
    }

    .form {
        padding: 0 15px;
        background: #fff;
        margin-bottom: 50px;

        > div {
            padding-top: 20px;
        }
    }

    .wrapBtn {
        display: flex;
        justify-content: flex-end;

        .formButtons {
            padding: 5px 0 15px 0;
        }
    }

    button {
        color: #fff;
    }

}
