<div class="addingForm">
    <p-panel>
        <p-header>
            <i class="fa fa-chevron-left" aria-hidden="true" title="{{ 'BACK' | translate }}" routerLink="/customers"
               id="back-button"></i>
            <span>{{ 'CUSTOMERS' | translate }}</span>
        </p-header>
        <form role="form" (ngSubmit)="onSubmit()" #dynamicForm="ngForm" novalidate>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0">

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        {{ 'companyName' | translate }}
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText class="form-control" [(ngModel)]="model['companyName']"
                               #companyName="ngModel"
                               required name="companyName" type="text" id="companyName">
                    </div>
                    <div class="ui-grid-col-4">
                        <control-errors control="companyName"
                                        [errors]="{required: ('customers.required'| translate)}"></control-errors>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        {{ 'street' | translate }}
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText class="form-control" [(ngModel)]="model['street']"
                               #street="ngModel"
                               required name="street" type="text" id="street">
                    </div>
                    <div class="ui-grid-col-4">
                        <control-errors control="street"
                                        [errors]="{required: ('customers.required'| translate)}"></control-errors>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        {{ 'street2' | translate }}
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText class="form-control" [(ngModel)]="model['street2']"
                               #street2="ngModel"
                               required name="street2" type="text" id="street2">
                    </div>
                    <div class="ui-grid-col-4">
                        <control-errors control="street2"
                                        [errors]="{required: ('customers.required'| translate)}"></control-errors>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        {{ 'postcode' | translate }}
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText class="form-control" [(ngModel)]="model['postcode']"
                               #postcode="ngModel"
                               required name="postcode" type="text" id="postcode">
                    </div>
                    <div class="ui-grid-col-4">
                        <control-errors control="postcode"
                                        [errors]="{required: ('customers.required'| translate)}"></control-errors>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        {{ 'country' | translate }}
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText class="form-control" [(ngModel)]="model['country']"
                               #country="ngModel"
                               required name="country" type="text" id="country">
                    </div>
                    <div class="ui-grid-col-4">
                        <control-errors control="country"
                                        [errors]="{required: ('customers.required'| translate)}"></control-errors>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        {{ 'city' | translate }}
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText class="form-control" [(ngModel)]="model['city']"
                               #city="ngModel"
                               required name="city" type="text" id="city">
                    </div>
                    <div class="ui-grid-col-4">
                        <control-errors control="city"
                                        [errors]="{required: ('customers.required'| translate)}"></control-errors>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        {{ 'vatid' | translate }}
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText class="form-control" [(ngModel)]="model['vatid']"
                               #vatid="ngModel" pattern="^(0|[1-9][0-9]*)$"
                               required name="vatid" type="number" id="vatid">
                    </div>
                    <div class="ui-grid-col-4">
                        <control-errors control="vatid"
                                        [errors]="{required: ('customers.required'| translate),
                                                    pattern: ('customers.numberValidator' | translate)}"></control-errors>
                    </div>
                </div>

                <ng-container *ngIf="submitButtonName === 'customers.update'">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            {{ 'contacts' | translate }}
                        </div>
                        <div class="ui-grid-col-6">
                            <one-to-many
                                    [renderProperties]="['firstname', 'surname', 'phone', 'mobilePhone', 'emailAddress']"
                                    [link]="model['_links']['contacts']"
                                    [mainEntityId]="id" property="contacts"></one-to-many>
                        </div>
                        <div class="ui-grid-col-4">
                            <control-errors control="contacts"
                                            [errors]="{required: ('customers.required'| translate),
                                                    pattern: ('customers.numberValidator' | translate)}"></control-errors>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            {{ 'customerUsers' | translate }}
                        </div>
                        <div class="ui-grid-col-6">
                            <one-to-many [renderProperties]="['firstname', 'surname', 'username', 'email']"
                                         [mainEntityId]="id" [link]="model['_links']['users']"
                                         property="users"></one-to-many>
                        </div>
                        <div class="ui-grid-col-4">
                            <control-errors control="customerUsers"
                                            [errors]="{required: ('customers.required'| translate),
                                                    pattern: ('customers.numberValidator' | translate)}"></control-errors>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            {{ 'parent' | translate }}
                        </div>
                        <div class="ui-grid-col-6">
                            <parent-customer name="parent" propertyName="parent" [mainEntityId]="id"
                                        [renderProperties]="['companyName', 'country']" [hideOwn]="false"
                                        [mainEntityService]="customersService" [subEntityService]="customersService"
                                        [link]="model['_links']['parent']"></parent-customer>
                        </div>
                        <div class="ui-grid-col-4">
                            <control-errors control="parent"
                                            [errors]="{required: ('customers.required'| translate),
                    pattern: ('customers.numberValidator' | translate)}"></control-errors>
                        </div>
                    </div>
                </ng-container>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"></div>
                    <div class="ui-grid-col-6">
                        <button style="width: 100%" type="submit" class="btn primeng-primary-btn" id="updateProfile"
                                [disabled]="dynamicForm.form.invalid">
                            <span>{{ submitButtonName | translate }}</span>
                            <i *ngIf="customersService.loading"
                               class="fa fa-spinner fa-pulse fa-3x fa-fw loading-spinner"></i>
                        </button>
                    </div>
                    <div class="ui-grid-col-4"></div>
                </div>
            </div>
        </form>
    </p-panel>
</div>
