.deleteRecords {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #485a6a;

	h1 {
		font-size: 16px;
	}

	#deleteAlert {
		padding: 16px 16px 0 16px;
	}

	.formButtons {
		float: right;
		padding: 0 16px 10px 0;
	}
}