#one-to-one-component {
    position: relative;

    .ui-button {
        height: 34px;
    }

    .btn-remove {
        top: 8px;
        right: 39px;
        color: #929292;
        cursor: pointer;
        position: absolute;

        &:hover {
            color: #d04242;
        }
    }
}
