<div id="dashboard-settings-window">
    <!-- Dashboard toolbar -->
    <div class="dashboard-toolbar">
        <p-splitButton icon="fa-plus" [model]="[
            {label: 'dashboard.createDashboard' | translate, icon: 'fa-tachometer', routerLink: ['/dashboard', 'create']},
            {label: 'dashboardBoxType.createDashboardBoxType' | translate, icon: 'fa-th-large', routerLink: ['/dashboard', 'dashboard-box-type', 'create']}
        ]"></p-splitButton>
    </div>
    <!-- /#dashboard toolbar -->

    <p-tabView>
        <p-tabPanel headerStyleClass="ui-sm-12" [header]="'DASHBOARDS' | translate">
            <p-dataGrid [value]="dashboards" [paginator]="false" [rows]="20" *ngIf="isDashboards(); else noDashboards">
                <ng-template let-dashboard pTemplate="item">
                    <div class="ui-g-12 ui-md-3 item">
                        <p-panel [header]="dashboard.name" [style]="{'text-align':'center'}">
                            <span class="colunm-name">icon:</span> {{ dashboard.icon }}
                            <hr class="ui-widget-content" style="border-top:0">
                            <button class="ui-button-success" pButton type="button"
                                    [routerLink]="['/dashboard', dashboard.id, 'update']" icon="fa-pencil"></button>
                            <button class="ui-button-danger" pButton type="button"
                                    [routerLink]="['/dashboard', dashboard.id, 'delete']" icon="fa-remove"></button>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataGrid>
            <ng-template #noDashboards>
                <p-panel>
                    <span>{{ 'dashboards.notFound' | translate }}</span>
                </p-panel>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel headerStyleClass="ui-sm-12" [header]="'dashboardBoxType.title' | translate">
            <p-dataGrid [value]="dashboardBoxTypes" [paginator]="false"
                        [rows]="20" *ngIf="isDashboardBoxTypes(); else noDashboardBoxTypes">
                <ng-template let-dashboardBoxType pTemplate="item">
                    <div class="ui-g-12 ui-md-3 item">
                        <p-panel [header]="dashboardBoxType.name" [style]="{'text-align':'center'}">
                            <span class="colunm-name">type:</span> {{ dashboardBoxType.type }} <br>
                            <span class="colunm-name">kind:</span> {{ dashboardBoxType.kind }}
                            <hr class="ui-widget-content" style="border-top:0">
                            <button [routerLink]="['/dashboard', 'dashboard-box-type', dashboardBoxType.id, 'update']"
                                    class="ui-button-success" pButton type="button" icon="fa-pencil"></button>
                            <button [routerLink]="['/dashboard', 'dashboard-box-type', dashboardBoxType.id, 'delete']"
                                    class="ui-button-danger" pButton type="button" icon="fa-remove"></button>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataGrid>
            <ng-template #noDashboardBoxTypes>
                <p-panel>
                    <span>{{ 'dashboardBoxType.notFound' | translate }}</span>
                </p-panel>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>
