
#login-window {
    width: 40vh;
    height: 40vh;
    min-width: 420px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;

    .title {
        margin-bottom: 10px;
    }

    .alert {
        border-radius: 0;
    }

    .right-align {
        text-align: right;
    }

    .rememberMe {
        margin: 5px 0;
    }

    @media(max-width:48em) {
        position: inherit;
        width: auto;
        height: auto;
        display: inherit;

        #submitButton {
            margin-top: 10px;
            width: 100%;
        }
    }
}

//.bs-reset {
//    background: #fff;
//    .login-container {
//        .login-6 {
//            padding: 80px 0 0 80px;
//            color: #5B9BD1;
//            font-size: 26px;
//            font-family: 'Open Sans', sans-serif;
//        }
//    }
//}
//
//.login-content {
//    margin-top: 24%;
//    padding: 0 80px 20px 80px;
//    box-sizing: border-box;
//    .title {
//        font-size: 30px;
//        font-weight: 300;
//        color: #4e5a64;
//        font-family: "Open Sans", sans-serif;
//    }
//    .description {
//        color: #a0a9b4;
//        font-size: 15px;
//        line-height: 22px;
//        margin: 20px 0;
//        font-family: "Open Sans", sans-serif;
//        box-sizing: border-box;
//    }
//}
//
//.login-form {
//    box-sizing: border-box;
//    margin-top: 33px;
//    padding-top: 50px;
//    .rem-password {
//        margin-top: 12px !important;
//        .remember {
//            float: left;
//            font-family: 'Open Sans', sans-serif;
//            font-size: 15px;
//            color: #a0a9b4;
//            font-weight: normal !important;
//        }
//        .own-check {
//            width: 16px;
//            height: 16px;
//            border-radius: 0;
//            outline-color: rgb(134, 142, 151);
//            margin: 1px 0 0 10px;
//            border: none #a0a9b4;
//            outline: 0 !important;
//            float: left;
//        }
//        input[type="checkbox"] {
//            display: none;
//        }
//        input[type="checkbox"] + label span {
//            display: inline-block;
//            vertical-align: middle;
//            width: 20px;
//            height: 20px;
//            margin: -1px 4px 0 9px;
//            background: url(./../../assets/img/sprite.png) 0 502px;
//            cursor: pointer;
//        }
//        input[type="checkbox"]:checked + label span {
//            background: url(./../../assets/img/sprite.png) -76px 502px;
//        }
//    }
//    .alert {
//        margin-top: -50px;
//        box-shadow: rgba(0, 0, 0, 0.09) 0 1px 3px 0, rgba(0, 0, 0, 0.07) 0 1px 2px 0;
//    }
//    .ng-valid[required] {
//        border-bottom: 2px solid #42A948;
//    }
//    .ng-invalid {
//        border-bottom: 2px solid #a94442;
//    }
//    input {
//        width: 100%;
//        padding: 10px;
//        background: #fff;
//        border: none #a0a9b4;
//        border-bottom: 1px solid;
//        color: #868e97;
//        font-size: 14px;
//        margin-bottom: 30px;
//        box-shadow: none !important;
//        outline: 0 !important;
//        border-bottom-left-radius: 4px;
//        border-bottom-right-radius: 4px;
//    }
//    .close-btn {
//        width: 10px;
//        height: 10px;
//        float: right;
//        cursor: pointer;
//        font-size: 11px;
//        font-weight: 700;
//        line-height: 1;
//        color: #000;
//        text-shadow: 0 1px 0 #fff;
//        filter: alpha(opacity=20);
//        opacity: .2;
//        &:hover {
//            color: #191919;
//        }
//    }
//    .btn {
//        color: #FFF;
//        background-color: #3598dc;
//        border-color: #3598dc;
//        border-radius: 2px;
//        font-family: 'Open Sans', sans-serif;
//        &:hover {
//            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
//            background: #217EBD;
//            -webkit-transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
//            -moz-transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
//            -o-transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
//            transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
//        }
//    }
//    .error-user {
//        border-bottom: 2px solid #ed6b75 !important;
//    }
//}
//
//.login-bg {
//    background: url(./../../assets/img/bg1.jpg) -72px -129px;
//    height: 1000px;
//}
//
//@media (min-width: 992px) {
//    .bs-reset {
//        padding: 0 0 0 15px;
//        img {
//            display: none;
//        }
//    }
//    .col-md-6 {
//        width: 50%;
//    }
//}
//
//@media (max-width: 992px) {
//    .login-6 {
//        padding: 40px 0 0 40px !important;
//    }
//    .login-content {
//        margin-top: 5% !important;
//        padding: 0 40px 10px 40px;
//    }
//    .login-bg {
//        display: none;
//    }
//    .col-md-6 {
//        padding: 0;
//    }
//}
//
//@media (max-width: 1365px) {
//    .user-login-5 {
//
//        .login-logo {
//            &.login-6 {
//                top: 40px;
//                left: 40px;
//            }
//        }
//
//        .login-container {
//
//            > .login-content,
//            .login-social,
//            .login-copyright {
//                padding: 0 40px;
//            }
//
//            .login-social {
//                padding-right: 0;
//            }
//
//            .login-copyright {
//                padding-left: 0;
//            }
//        }
//    }
//}
//
//@media (max-width: 1023px) {
//
//    .user-login-5 {
//        min-height: 50vh;
//
//        .login-bg {
//            min-height: 50vh;
//        }
//
//        .login-logo {
//            &.login-6 {
//                position: relative;
//                margin: 0 0 40px 0;
//            }
//        }
//
//        .login-container {
//            min-height: 50vh;
//
//            > .login-content {
//                margin-top: 60px;
//
//                .login-form {
//                    margin-top: 40px;
//                }
//
//            }
//
//            .rem-password {
//                margin-bottom: 1em;
//            }
//
//            > .login-footer {
//                position: relative;
//                margin-top: 40px;
//                padding-bottom: 0;
//
//                .login-social {
//
//                    li {
//                        margin-right: 0.5em;
//                    }
//                }
//            }
//        }
//
//        .alert {
//            margin-top: -20px;
//        }
//
//    }
//}
//
//@media (max-width: 640px) {
//    .user-login-5 {
//        .login-container {
//            > .login-content {
//                .text-right {
//                    text-align: left;
//                }
//            }
//        }
//    }
//}
//
