#login-window {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;

    #login-card {
        width: 420px;
        height: 211px;
        min-width: 420px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -105px 0 0 -210px;
    }

    .title {
        margin-bottom: 10px;
    }

    .alert {
        border-radius: 0;
    }

    .right-align {
        text-align: right;
    }

    .rememberMe {
        margin: 5px 0;
    }

    @media(max-width:48em) {
        &, #login-card {
            position: inherit;
            width: auto;
            height: auto;
            margin: 0;
        }

        #submitButton {
            margin-top: 10px;
            width: 100%;
        }
    }
}
