<div [hidden]="!isRunning" class="cube-grid-spinner">
    <div class="cube cube1" [ngStyle]="{'background-color': backgroundColor}"></div>
    <div class="cube cube2" [ngStyle]="{'background-color': backgroundColor}"></div>
    <div class="cube cube3" [ngStyle]="{'background-color': backgroundColor}"></div>
    <div class="cube cube4" [ngStyle]="{'background-color': backgroundColor}"></div>
    <div class="cube cube5" [ngStyle]="{'background-color': backgroundColor}"></div>
    <div class="cube cube6" [ngStyle]="{'background-color': backgroundColor}"></div>
    <div class="cube cube7" [ngStyle]="{'background-color': backgroundColor}"></div>
    <div class="cube cube8" [ngStyle]="{'background-color': backgroundColor}"></div>
    <div class="cube cube9" [ngStyle]="{'background-color': backgroundColor}"></div>
</div>
