#multiple-select-window {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.38);
    font-size: 14px;
    padding: 5px;
    margin-top: 7px;

    .row {
        > div {
            padding-top: 6px;
        }
    }

    hr {
        margin: 5px 0;
    }

    .ctrl-panel {
        display: flex;
        justify-content: flex-end;

        > i {
            padding-left: 4px;
        }
    }

    .title-panel {
        i {
            color: #009688;

            &:hover {
                color: #016f65;
            }
        }
    }

    i {
        font-size: 21px;
        cursor: pointer;

        &:hover {
            color: green;
        }
    }

    .data-item {
        padding: 6px;
        border: 1px solid #d6d6d6;
        height: 100%;
        border-radius: 3px;
        color: #222;
    }
}

@media (min-width: 768px) {
    .col-md-6:nth-of-type(even) {
        padding-left: 3px;
    }

    .col-md-6:nth-of-type(odd) {
        padding-right: 3px;
    }
}
