<div id="multiple-select-window">
	<div class="title-panel">
		<i class="fa fa-plus-square-o" [routerLink]="[pathFromRoot, property, 'create', id]"
		   [title]="'1:n.create' | translate" aria-hidden="true"></i>
	</div>
	<ng-container *ngIf="model.length">
		<hr>
	</ng-container>
	<div class="row">
		<div class="col-sm-12 col-md-6" *ngFor="let item of model; let i = index">
			<div class="data-item">
				<div class="ctrl-panel">
					<i class="fa fa-minus-square-o delete-button"
					   [routerLink]="[pathFromRoot, property, 'delete', model[i].id]"
					   [title]="'1:n.delete' | translate"
					   aria-hidden="true"></i>
					<i class="fa fa-pencil-square-o update-button"
					   [routerLink]="[pathFromRoot, property, 'update', model[i].id]"
					   [title]="'1:n.update' | translate"
					   aria-hidden="true"></i>
				</div>
				<hr>
				<div *ngFor="let renderProp of renderProperties" class="data-title">
					<div class="data-label pull-left">{{ renderProp | translate }}</div>
					<span class="separate">:</span>
					<div class="data-value pull-right">{{ item[renderProp] }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
