.side-bar {
  float: left;
  padding-top: 8px;
  background: #fff;
  font-size: 18px;
  color: rgb(91, 155, 209);
  border-radius: 3px;
  clear: both;
  ul {
    clear: both;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
  }
}
