.item-menu .sub-task {
    color: rgb(72, 90, 106);
    cursor: pointer;
    display: flex;
    margin: 0;
    text-decoration: none;

    &:hover {
        background: #F2F6F9;
        color: rgb(91, 155, 209) !important;
    }
    padding: 13px 0 13px 22px;
    .icon-left {
        float: left;
        font-size: 18px;
        color: rgb(167, 189, 205);
    }
    .fa {
        width: 12px;
        height: 18px;
        float: right;
        margin: 0 23px 0 58px;
    }
    .dashboard-icon {
        margin-top: -18px;
    }
    .name-sub {
        float: left;
        margin: 0 30px 0 10px;
        font-size: 14px;
    }
}

.active {
    display: block;
    background: #F2F6F9;
    span {
        color: rgb(91, 155, 209);
    }
    &:before {
        content: "";
        position: absolute;
        float: left;
        display: block;
        width: 3px;
        height: 50px;
        left: 19px;
        margin: -13px 0 0 -19px;
        background: #5C9ACF;
        z-index: 1;
    }
}

.save-state-item {
    height: 0;
}

ul {
    clear: both;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    margin: 0 !important;
    a {
        display: block;
        padding: 9px 0 9px 30px;
        font-size: 14px;
        color: rgb(72, 90, 106);
        text-decoration: none;
        &:hover {
            background: #F2F6F9;
            color: rgb(91, 155, 209) !important;
        }
        .subitem-icon-left {
            float: left;
            font-size: 18px;
            color: rgb(167, 189, 205);
            margin: -2px 10px 0 0;
        }
    }
}

.activesub {
    background: #F2F6F9;
    color: rgb(91, 155, 209);
}

.activesub:focus {
    background: #F2F6F9;
    color: #5b9bd1;
    text-decoration: none !important;
}

.nav-subitem-relative {
    position: absolute;
    background: #fff;
    margin: -49px 0 0 65px;
    width: 168px;
    z-index: 1000;
    a {
        padding: 14px 0 13px 10px !important;
    }
}

/* MOBILE DEVICE (BEGIN)*/

@media (max-width: 992px) {
    .wrap-nav {
        overflow: hidden;
        width: 100%;
        clear: both;
    }
    .show-nav {
        display: block !important;
        width: 100%;
    }
    .item-menu {
        width: 100% !important;
        .dashboard-icon {
            margin-top: 0 !important;
        }
    }
    .nav-subitem-relative {
        position: static;
        background: #fff;
        margin: 0;
        width: 100%;
        a {
            padding: 9px 0 9px 30px !important;
        }
    }
}

@media (min-width: 992px) {
    .show-nav {
        display: flex;
    }
    .last {
        margin-top: -18px !important;
    }
    .item-menu-short {
        > ul {
            height: 0 !important;
        }
        &:hover > ul {
            position: absolute;
            height: auto !important;
            z-index: 99999 !important;
        }
    }
}

/* MOBILE DEVICE (END)*/
