<div *ngIf="showInSubNavigation" class="item-menu clear {{nameItem.toLowerCase()}}-item-nav" #isIcon>
    <a (click)="navItemState[nameItem]=!navItemState[nameItem]" [class.active]="isActive([path])"
       class="{{nameItem.toLowerCase()}} sub-task clear" (click)="nameItem !== 'dashboard' && router.navigateByUrl(path)">
        <i class="icon-left fa" [ngClass]="icon"></i>
        <div class="show-nav">
            <span class="name-sub {{nameItem.toLowerCase()}}-item">{{nameItem | uppercase | translate}}</span>
            <i *ngIf="nameItem === 'dashboard' && dashboards.length"
               class="isChildren fa {{nameItem.toLowerCase()}}-icon"
               [ngClass]="navItemState[nameItem] ? 'fa-chevron-left' : 'fa-chevron-down'"></i>
        </div>
    </a>
    <ul [@state]="navItemState[nameItem] ? 'open' : 'closed'" *ngIf="nameItem === 'dashboard' && dashboards.length"
        class="{{nameItem.toLowerCase()}}-submenu sub-menu-item">
        <li *ngFor="let dashboard of dashboards">
            <a routerLinkActive="activesub" [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="[path, dashboard.id]" [ngClass]="dashboard.name">
                <i class="subitem-icon-left fa" [ngClass]="dashboard.icon"></i>
                {{dashboard.name}}</a>
        </li>
    </ul>
</div>
