<div id="crud-view-window" #element (window:resize)="$event">
    <p-dataTable [value]="rowData" [editable]="true" [(selection)]="selectedRows"
                 (onRowExpand)="onRowExpand($event)" (onEditComplete)="onEditComplete($event)"
                 [style]="{'overflow-y':'visible'}" [expandableRows]="true" scrollable="true">
        <p-header class="grid-header">
            <div class="ui-helper-clearfix" style="width:100%">
                <span class="grid-title">{{ 'customers.title' | translate}}</span>
                <button type="button" class="ui-button-success pull-right" routerLink="/customers/create"
                        pButton icon="fa-plus" [label]="'customers.create' | translate"></button>
                <button type="button" pButton class="ui-button-danger pull-right" icon="fa-remove"
                        [label]="'customers.delete' | translate"></button>
            </div>
        </p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column expander="true" styleClass="col-icon" [style]="{'width':'40px'}"></p-column>
        <p-column [style]="{'width':'40px'}">
            <template pTemplate="body" let-col let-row="rowData">
				<span class="fa fa-pencil update-button"
                      style="padding-right: 3px; color: #009688;"
                      [routerLink]="['/customers', row['id'], 'update']"></span>
            </template>
        </p-column>
        <p-column [style]="{'width':'40px'}">
            <template pTemplate="body" let-col let-row="rowData">
                <span class="fa fa-trash delete-button" style="color: #E53935;"
                      [routerLink]="['/customers', row['id'], 'delete']"></span>
            </template>
        </p-column>
        <p-column field="companyName" [header]="'companyName' | translate" [editable]="true"
                  [sortable]="true" [style]="{'width':'200px'}">
            <template pTemplate="filter" let-col>
                <input type="text" pInputText ngModel (ngModelChange)="onFilter(col.field, $event)"/>
            </template>
        </p-column>
        <p-column field="street" [header]="'street' | translate" [editable]="true"
                  [sortable]="true" [style]="{'width':'200px'}">
            <template pTemplate="filter" let-col>
                <input type="text" pInputText ngModel (ngModelChange)="onFilter(col.field, $event)"/>
            </template>
        </p-column>
        <p-column field="street2" [header]="'street2' | translate" [editable]="true"
                  [sortable]="true" [style]="{'width':'200px'}">
            <template pTemplate="filter" let-col>
                <input type="text" pInputText ngModel (ngModelChange)="onFilter(col.field, $event)"/>
            </template>
        </p-column>
        <p-column field="postcode" [header]="'postcode' | translate" [editable]="true"
                  [sortable]="true" [style]="{'width':'200px'}">
            <template pTemplate="filter" let-col>
                <input type="text" pInputText ngModel (ngModelChange)="onFilter(col.field, $event)"/>
            </template>
        </p-column>
        <p-column field="country" [header]="'country' | translate" [editable]="true"
                  [sortable]="true" [style]="{'width':'200px'}">
            <template pTemplate="filter" let-col>
                <input type="text" pInputText ngModel (ngModelChange)="onFilter(col.field, $event)"/>
            </template>
        </p-column>
        <p-column field="city" [header]="'city' | translate" [editable]="true"
                  [sortable]="true" [style]="{'width':'200px'}">
            <template pTemplate="filter" let-col>
                <input type="text" pInputText ngModel (ngModelChange)="onFilter(col.field, $event)"/>
            </template>
        </p-column>
        <p-column field="vatid" [header]="'vatid' | translate" [editable]="true"
                  [sortable]="true" [style]="{'width':'200px'}">
            <template pTemplate="filter" let-col>
                <input type="text" pInputText ngModel (ngModelChange)="onFilter(col.field, $event)"/>
            </template>
        </p-column>

        <template let-customer pTemplate="rowexpansion" style="{'overflow':'visible'}">

            <p-tabView class="relationship-tabs" [style]="{'width': (element.clientWidth - 20) + 'px'}">
                <!-- tab with contacts -->
                <p-tabPanel [header]="'contacts' | translate" leftIcon="fa-users">
                    <ng-container [ngSwitch]="contactsModel[customer['id']].action">
                        <ng-container *ngSwitchDefault>
                            <one-to-many
                                    [renderProperties]="['firstname', 'surname', 'phone', 'mobilePhone', 'emailAddress']"
                                    [link]="customer['_links']['contacts']"
                                    [mainEntityId]="customer['id']" property="contacts"
                                    (onDelete)="contactsModel[customer['id']]=$event"
                                    (onUpdate)="contactsModel[customer['id']]=$event"
                                    (onCreate)="contactsModel[customer['id']]=$event"></one-to-many>
                        </ng-container>
                        <ng-container *ngSwitchCase="action.Delete">
                            <contacts-delete (onBack)="contactsModel[customer['id']].action=$event"
                                             [entity]="contactsModel[customer['id']].entity"></contacts-delete>
                        </ng-container>
                        <ng-container *ngSwitchCase="action.Create">
                            <contacts-create (onBack)="contactsModel[customer['id']].action=$event"
                                             [customerId]="customer['id']"></contacts-create>
                        </ng-container>
                        <ng-container *ngSwitchCase="action.Update">
                            <contacts-update (onBack)="contactsModel[customer['id']].action=$event"
                                             [entity]="contactsModel[customer['id']].entity"></contacts-update>
                        </ng-container>
                    </ng-container>
                </p-tabPanel>
                <!-- tab with users -->
                <p-tabPanel [header]="'customerUsers' | translate" leftIcon="fa-user-secret">
                    <ng-container [ngSwitch]="usersModel[customer['id']].action">
                        <ng-container *ngSwitchDefault>
                            <one-to-many
                                    [renderProperties]="['firstname', 'surname', 'username', 'email']"
                                    [link]="customer['_links']['users']"
                                    [mainEntityId]="customer['id']" property="contacts"
                                    (onDelete)="usersModel[customer['id']]=$event"
                                    (onUpdate)="usersModel[customer['id']]=$event"
                                    (onCreate)="usersModel[customer['id']]=$event"></one-to-many>
                        </ng-container>
                        <ng-container *ngSwitchCase="action.Delete">
                            <contacts-delete (onBack)="usersModel[customer['id']].action=$event"
                                             [entity]="usersModel[customer['id']].entity"></contacts-delete>
                        </ng-container>
                        <ng-container *ngSwitchCase="action.Create">
                            <users-create (onBack)="usersModel[customer['id']].action=$event"
                                          [customerId]="customer['id']"></users-create>
                        </ng-container>
                        <ng-container *ngSwitchCase="action.Update">
                            <users-update (onBack)="usersModel[customer['id']].action=$event"
                                          [entity]="usersModel[customer['id']].entity"></users-update>
                        </ng-container>
                    </ng-container>

                </p-tabPanel>
                <!-- tab with parent customer -->
                <p-tabPanel [header]="'parent' | translate" leftIcon="fa-building">
                    <parent-customer name="parent" propertyName="parent" [mainEntityId]="customer['id']"
                                     [renderProperties]="['companyName', 'country']" [hideOwn]="true"
                                     [mainEntityService]="customersService" [subEntityService]="customersService"
                                     [link]="customer['_links']['parent']"></parent-customer>
                </p-tabPanel>
            </p-tabView>
        </template>

    </p-dataTable>
    <p-paginator id="grid-pagination" [rows]="pagination.size" [totalRecords]="pagination.totalElements"
                 [rowsPerPageOptions]="[10,20,30,50,100,200]" (onPageChange)="onPaginate($event)"></p-paginator>

    <div *ngIf="isLoading" class="loading-mask"></div>
    <div *ngIf="isLoading" class="loading-layer">
        <div class="container">
            <sk-cube-grid class="sk-cube-grid"></sk-cube-grid>
        </div>
    </div>

</div>
