#crud-view-window {

    #back-button {
        cursor: pointer;
        padding-right: 5px;
    }

    .grid-header {
        text-align: left;
    }

    #grid-pagination {
        position: relative;
        top: -2px;
    }

    .uri-property {
        cursor: pointer;
    }

    .update-button,
    .delete-button {
        padding-left: 5px;
        cursor: pointer;
    }

}
