<p-panel>
    <p-header>
        <i class="fa fa-chevron-left" (click)="location.back()" aria-hidden="true" title="{{ 'BACK' | translate }}"
           id="back-button"></i>
        <span>{{ 'mcc.formTitle' | translate }}</span>
    </p-header>
    <form role="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    {{ 'mcc.mcc' | translate }}
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText class="form-control"
                           [(ngModel)]="model.mcc" required name="mcc" type="text" id="mcc">
                </div>
                <div class="ui-grid-col-4">
                    <control-errors control="mcc" [errors]="{required: ('REQUIRED'| translate)}"></control-errors>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    {{ 'mcc.code' | translate }}
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText class="form-control"
                           [(ngModel)]="model.code" required name="code" type="text" id="code">
                </div>
                <div class="ui-grid-col-4">
                    <control-errors control="code" [errors]="{required: ('REQUIRED'| translate)}"></control-errors>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    {{ 'mcc.country' | translate }}
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText class="form-control"
                           [(ngModel)]="model.country" required name="country" type="text" id="country">
                </div>
                <div class="ui-grid-col-4">
                    <control-errors control="country" [errors]="{required: ('REQUIRED'| translate)}"></control-errors>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button type="submit" class="btn primeng-primary-btn ui-md-12 ui-sm-12" id="submit-button"
                            [disabled]="f.form.invalid">
                        <span>{{ 'UPDATE' | translate }}</span>
                        <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading-spinner"></i>
                    </button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
        </div>
    </form>
</p-panel>
