.grid-pagination {
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        border: none;
    }

    .page-size {
        p-dropdown {
            display: flex;
            align-items: center;
            padding-left: 5px;
        }
    }

    .page-summary-panel,
    .page-size {
        display: flex;
    }

    .previous-panel,
    .next-panel {
        flex-grow: 2;
    }

    .page-info {
        padding-top: 9px;
    }
}

@media all and (max-width: 550px) {
    .row-summary-panel {
        display: none;
    }

    .page-size {
        display: none !important;
    }
}
