<div class="grid-pagination">
	<div class="row-summary-panel">{{fromRecord}} to {{toRecord}} of
		more
	</div>
	<div class="page-summary-panel">
		<div class="previous-panel">
			<button [disableRipple]="true" md-icon-button color="primary" id="firstPage" (click)="first()"
			        [disabled]="!currentPage">
				<md-icon class="md-24">first_page</md-icon>
			</button>
			<button [disableRipple]="true" md-icon-button color="primary" id="previousPage" (click)="previous()"
			        [disabled]="!currentPage">
				<md-icon class="md-24">chevron_left</md-icon>
			</button>
		</div>
		<div class="page-info">Page <span id="currentPage">{{currentPage + 1}}</span> of more</div>
		<div class="next-panel">
			<button [disableRipple]="true" md-icon-button color="primary" id="nextPage" (click)="next()"
			        [disabled]="toRecord === sizeClass">
				<md-icon class="md-24">chevron_right</md-icon>
			</button>
			<button [disableRipple]="true" md-icon-button color="primary" id="lastPage" (click)="last()"
			        [disabled]="toRecord === sizeClass">
				<md-icon class="md-24">last_page</md-icon>
			</button>
		</div>
	</div>
	<div class="page-size">
		<div class="btn-group" dropdown>
			<button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
				{{ 'PAGE_SIZE' | translate }} <span class="caret"></span>
			</button>
			<ul dropdownMenu role="menu" aria-labelledby="single-button">
				<li role="menuitem"><a class="dropdown-item" href="javascript:void(0)"
				                       *ngFor="let pageSize of stepPageSize"
				                       (click)="changePageSize(pageSize)">{{pageSize}}</a></li>
			</ul>
		</div>
	</div>
</div>
