#customer-card {
	padding: 0;
	background: transparent;

	md-card-content {
		display: flex;
		overflow: auto;
	}

	.buttons {
	    float: left;
	    font-size: 14px;
	    padding: 6px 21px 0 14px;
	}

	.title {
		margin-bottom: 10px;
	}

	form {
		width: 100%;

		md-input {
			background: transparent;
			border: none;
			width: 99%;
			padding: 0 12px;
		}
	}

	.formButtons {
		float: right;
		padding: 5px 10px 10px 0;
	}

	.deleteRecords {
		width: 100%;
		text-align: center;

		h1 {
			font-size: 16px;			
		}
	}
}