#customer-crud {
	padding: 0;
    height: 100%;
	background: transparent;

	#customer-card-content {
		display: flex;
		overflow: auto;
	}
    .customersGrid {
        height: inherit;

        md-input {
            padding-left: 14px;
            width: 380px;
        }
    }

    md-card-content {
        height: inherit;
    }

    .md-card {
        height: inherit;
    }

	.buttons {
	    float: right;
	    font-size: 14px;
	    padding: 6px 14px 0 0;
	}

	.title {
		margin-bottom: 10px;
	}

    form,
    .deleteRecords,
    .usersGrid {
        display: inline-block;
    }

	form {
		width: 100%;

		md-input {
			background: transparent;
			border: none;
			width: 99%;
			padding: 0 12px;
		}
	}

	.formButtons {
		float: right;
		padding: 5px 10px 10px 0;
	}

	.deleteRecords {
		width: 100%;
		text-align: center;

		h1 {
			font-size: 16px;
		}
	}
}
