<md-card id="customer-crud">
        <md-toolbar class="title" color="primary">{{ 'CUSTOMERS' | translate }}</md-toolbar>
        <md-card-content>
        	<div [hidden]="customerService.switcher.showCustomersGrid" class="customersGrid">
				<md-input placeholder="{{ 'SEARCH' | translate }}"
						type="text" autocomplete="off" name="search" style=""
						#db (keydown)="customerService.onFilterChanged(db.value, gridOptions)"
						(keyup)="customerService.onFilterChanged(db.value, gridOptions)"></md-input>
                <div class="buttons">
                    <button md-raised-button color="primary" (click)="router.navigateByUrl('customers/add')" id="addRow">{{'ADD' | translate}}</button>
                    <button md-raised-button color="warn" [disabled]="customerService.btnDeleteDisabled"
                            (click)="router.navigateByUrl('customers/delete');" id="deleteRow">{{'DELETE' | translate}}</button>
                </div>

				<ag-grid-ng2 class="ag-fresh" style="width: 100%; height: 100%;"
				             [rowGroupPanelShow]="always" [columnDefs]="columnDefs"
				             [gridOptions]="gridOptions" [rowData]="rowData" (cellValueChanged)="customerService.cellValueChanged($event)"
				             (cellClicked)="customerService.redirectTo($event)"></ag-grid-ng2>
			</div>

			<div [hidden]="customerService.switcher.showForm" class="form">
				<form>
					<div *ngFor="let item of columnDefs">
						 <md-input *ngIf="!item.hideInForm" placeholder="{{item.headerName}}" name="{{item.headerName}}" id="{{item.headerName}}"
							type="text" autocomplete="off" [(ngModel)]="model[item.field]"
							class="form-control"></md-input>
					</div>

					<div class="formButtons">
					    <button md-raised-button color="primary" (click)="router.navigateByUrl('customers')" id="cancel">{{'CANCEL' | translate}}</button>
					    <button md-raised-button color="primary" (click)="customerService.addRow(gridOptions, model); router.navigateByUrl('customers')" id="add">{{'ADD' | translate}}</button>
					</div>
				</form>
			</div>

			<div [hidden]="customerService.switcher.showDeleteMsg" class="deleteRecords">
				<h1>You are dropping the record. Are you sure?</h1>
				<div class="formButtons">
				    <button md-raised-button color="primary" (click)="customerService.goTo('showCustomersGrid'); router.navigateByUrl('customers')" id="no">{{'NO' | translate}}</button>
				    <button md-raised-button color="primary" (click)="customerService.removeRow(gridOptions); router.navigateByUrl('customers')" id="yes">{{'YES' | translate}}</button>
				</div>
			</div>

			<div [hidden]="customerService.switcher.showUsersGrid" class="usersGrid">
				<ag-grid-ng2 class="ag-fresh" style="width: 100%; height: 400px;"
				             [rowGroupPanelShow]="always" [columnDefs]="customerUsers.columnDefs"
				             [gridOptions]="customerUsers.gridOptions" [rowData]="customerUsers.rowData"></ag-grid-ng2>
				<div class="formButtons">
				    <button md-raised-button color="primary" (click)="router.navigateByUrl('customers')">{{'BACK' | translate}}</button>
				    <button md-raised-button color="primary" (click)="customerService.chooseUsers(customerUsers.gridOptions.api.getSelectedRows(),
				                                                                                  gridOptions, customerService);
				    		router.navigateByUrl('customers')">{{'CHOOSE' | translate}}</button>
				</div>

			</div>
        </md-card-content>
</md-card>
