.deleteRecords {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #485a6a;
	font-style: 'Open Sans';

	h1 {
		font-size: 16px;
	}

	.formButtons {
		float: right;
		padding: 5px 10px 10px 0;
	}
}