body {
    background: #E9ECF3 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ag-material {
    .ag-cell-not-inline-editing {
        padding-top: 2px !important;
        outline: none;
    }
}

.md-card {
    height: 100%;
}

@media (max-width: 992px) {
    .md-sidenav-content {
        margin-left: 0 !important;
    }
}
