body {
    background: #E9ECF3 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

.ag-material {
    .ag-cell-not-inline-editing {
        padding-top: 2px !important;
        outline: none;
    }
}

.ag-body-viewport {
    min-height: 100px;
}

.ag-paging-panel {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    md-content {
        margin-left: 0 !important;
    }
}


