body {
    background: #E9ECF3 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

.ag-material {
    .ag-cell-not-inline-editing {
        padding-top: 2px !important;
        outline: none;
    }
}

.ag-body-viewport {
    min-height: 100px;
}

