#confirm-delete-window {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #485a6a;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #fff;

    h1 {
        font-size: 16px;
    }

    .warning-growl {
        padding: 5px 16px 0 16px;
    }

    .formButtons {
        float: right;
        padding: 0 16px 14px 0;
    }
}
