$primaryColor: #009688;

#login {
    width: 100vw;
    height: 100vh;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    form {
        #input-panel {
            display: flex;
        }

        #errorMessage {
            text-align: center;
        }

        md-input {
            display: block;
        }
    }

    #login-card {
        width: 20vw;
        margin: auto;
        min-width: 420px;

        .input-panel {
            padding-bottom: 1rem;
        }

        .title {
            margin: 0;
            align-items: center;
            color: #fff;
        }

        .alert {
            border-radius: 0;
        }

        .right-align {
            text-align: right;
            width: 50%;
            float: left;
        }

        .rememberMe {
            cursor: pointer;

            > input {
                position: relative;
                top: 1px;
            }
        }

        .login-card-title {
            margin: 20px 20px 0 20px;
            background-color: $primaryColor;
        }

        .form-group {
            margin: 0;

            label {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 14px;
                color: rgb(136, 136, 136);
            }

            #submitButton {
                background: $primaryColor;
                border-color: $primaryColor;
            }
        }

        .card-content {
            padding: 1.25rem 1.25rem 1.25rem 1.25rem;
        }

        @media(max-width: 48em) {
            width: auto;
            height: inherit;
            margin: inherit;
            min-width: inherit;

            .group {
                padding-bottom: 20px;
            }

            #submitButton {
                margin-top: 10px;
                width: 100%;
            }

            #input-panel {
                flex-direction: column;
            }
        }
    }
}
