<div id="login-window">
	<div class="container">
		<div class="card" style="display: none"></div>
		<div class="card">
			<h1 class="title">{{'login.title' | translate}}</h1>
			<form role="form" (ngSubmit)="onSubmit(model)" #loginForm="ngForm" novalidate>
				<div class="input-container">
					<input type="text" required
					       [(ngModel)]="model.username" id="username" name="username"
					       autocomplete="on" #username="ngModel"/>
					<label for="Username">{{'login.username' | translate}}</label>
					<div class="bar"></div>
				</div>
				<div class="input-container">
					<input type="password" required id="password"
					       maxlength="64" [(ngModel)]="model.password" name="password"
					       autocomplete="on" #password="ngModel"/>
					<label for="Password">{{"login.password" | translate}}</label>
					<div class="bar"></div>
				</div>
				<div class="button-container">
					<button type="submit" class="submitButton" [disabled]="loginForm.form.invalid">
						<span>{{'login.btnLogin' | translate}}</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
