<div id="login-window">
	<div class="container">
		<div class="card" style="display: none"></div>
		<div class="card">
			<h1 class="title">{{'login.title' | translate}}</h1>
			<div class="error-growl" *ngIf="growlService.msgs.length">
				<p-messages [value]="growlService.msgs"
				            [closable]="true"></p-messages>
			</div>
			<form role="form" (ngSubmit)="onSubmit(model)" #loginForm="ngForm" novalidate>
				<div class="input-container">
					<input type="text" required
					       [(ngModel)]="model.username" id="username" name="username"
					       #username="ngModel"/>
					<label for="Username">{{'login.username' | translate}}</label>
					<div class="bar"></div>
				</div>
				<div class="input-container">
					<input type="password" required id="password"
					       maxlength="64" [(ngModel)]="model.password" name="password"
					       #password="ngModel"/>
					<label for="Password">{{"login.password" | translate}}</label>
					<div class="bar"></div>
				</div>
				<div class="button-container">
					<button [ngClass]="{'button-submitted': loadingSpinner}" type="submit" class="submitButton"
					        [disabled]="loginForm.form.invalid">
						<span>{{'login.btnLogin' | translate}}</span>
						<i *ngIf="loadingSpinner" class="fa fa-spinner fa-pulse fa-3x fa-fw loading-spinner"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
