#login-window {
    width: 40vh;
    height: 40vh;
    min-width: 420px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .title {
        color: #fff;
        margin-bottom: 10px;
        background-color: #31b0d5;
    }

    .alert {
        border-radius: 0;
    }

    .right-align {
        text-align: right;
    }

    .rememberMe {
        margin: 5px 0;
    }

    .loader {
        margin: auto;
        width: 35px;
        height: 35px;

        path {
            stroke: #31b0d5;
        }
    }

    #submitButton {
        color: #fff;
        background-color: #31b0d5;
        border-color: #269abc;

        &:hover {
            background-color: #269abc;
            border-color: #1b6d85;
        }

        &[disabled] {
            background-color: #5bc0de;
            border-color: #46b8da;
            cursor: not-allowed;
        }
    }

    @media(max-width:48em) {
        width: inherit;
        height: inherit;
        min-width: inherit;
        margin: inherit;
        position: inherit;
        top: inherit;
        left: inherit;
        bottom: inherit;
        right: inherit;

        #submitButton {
            margin-top: 10px;
            width: 100%;
        }
    }
}
