.chart {
    width: 100%;
    height: 100%;
}

ba-am-chart {
    width: 100%;
    height: 100%;
}

.dashboard-line-chart {
    width: 100%;
    height: 100%;
}

.showAll {
    position: absolute;
    right: 14px;
    top: 40px;
    display: block;
    border-radius: 2px;
    border: 1px solid #ddd;
    background: rgb(255, 255, 255);
    box-shadow: none !important;
    outline: none !important;
    color: #AAB5BC;
    z-index: 1000;
}
