<div id="wrap-breadcrumb">
	<div class="page-title">
		<h1>{{breadcrumbService.name | uppercase | translate}}
			<small>{{breadcrumbService.name | uppercase | translate}}</small>
		</h1>
	</div>
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<a (click)="router.navigateByUrl('/')">{{'HOME' | translate}}</a>
			<i class="fa fa-circle"></i>
		</li>
		<li class="childs" *ngFor="let child of breadcrumbService.childs;">
			<a (click)="breadcrumbService.navigateTo(child.router)">{{child.name | uppercase | translate}}</a>
			<i class="fa fa-circle"></i>
		</li>
	</ul>
</div>
