.wrap-breadcrumb {
  .page-title {
    display: inline-block;
    padding: 5px 0 10px;
    h1 {
      color: #697882;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      padding: 0;

      small {
        color: #9eacb4;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
  .breadcrumb {
    padding: 0 0 15px;
    margin: 0;
    color: #c5ccd5;
    font-size: 14px;
    background: inherit;
    .childs:before {
      display: none;
      margin-right: 3px;
    }
    .childs:last-of-type {
      i {
        display: none;
      }
      a {
        color: #c5ccd5;
        &:hover {
          text-decoration: none;
          cursor: text;
          background: inherit;
          color: #c5ccd5 !important;
        }
      }
    }
    > li {
      display: inline-block;
      a {
        color: #337ab7;
        text-shadow: none;
        text-decoration: none;
        cursor: pointer;
        float: left;
        padding: 0;
        margin: 0;
        &:hover {
          text-decoration: underline;
          color: rgb(35, 82, 124);
          background: inherit;
        }
      }
    }
    .fa {
      position: relative;
      top: -3px;
      color: #C5CCD5;
      font-size: 18px;
      margin: 0 7px 0 7px;
    }
  }
}