.addingForm {
	width: 100%;

	md-input {
		background: transparent;
		border: none;
		width: 100%;
        padding: 6px 0;
        box-sizing: border-box;
	}

    .form {
        padding: 0 15px;
        background: #fff;
        margin-bottom: 50px;
    }

    .wrapBtn {
        display: flex;
        justify-content: flex-end;

        .formButtons {
            padding: 5px 0 15px 0;
        }
    }
}
