<div class="addingForm">
	<loading-grid>
		<form class="form" #addingForm="ngForm" (submit)="onSubmit()">
			<div *ngFor="let item of model.columnDefs" [ngSwitch]="item.type">
				<md-input *ngSwitchCase="7" placeholder="{{item.headerName}}" name="{{item.headerName}}"
				          class="{{item.headerName}}" [readOnly]="!item.editable" [hidden]="!item.visible"
				          [required]="item.mandatory"
				          type="text" autocomplete="off" [(ngModel)]="crudService.model[item.property]"
				          class="form-control"></md-input>
				<md-input
					*ngIf="item.type === 5 || item.type === 1 || item.type === 4 || item.type === 17 || item.type === 21"
					placeholder="{{item.headerName}}" name="{{item.headerName}}"
					class="{{item.headerName}}" [readOnly]="!item.editable" [hidden]="!item.visible"
					[required]="item.mandatory"
					type="number" autocomplete="off" [(ngModel)]="crudService.model[item.property]"
					class="form-control"></md-input>
				<md-input *ngSwitchCase="6" placeholder="{{item.headerName}}" name="{{item.headerName}}"
				          class="{{item.headerName}}" [readOnly]="!item.editable" [hidden]="!item.visible"
				          [required]="item.mandatory"
				          type="datetime" autocomplete="off" [(ngModel)]="crudService.model[item.property]"
				          class="form-control"></md-input>
				<md-input *ngSwitchCase="19" placeholder="{{item.headerName}}" name="{{item.headerName}}"
				          class="{{item.headerName}}" [readOnly]="!item.editable" [hidden]="!item.visible"
				          [required]="item.mandatory"
				          type="date" autocomplete="off" [(ngModel)]="crudService.model[item.property]"
				          class="form-control"></md-input>
				<multiple-select *ngIf="item.type === 15 || item.type === 13"
				                 [property]="item" [crudService]="crudService"
				                 [rowSelectionLinkset]="'single'"
				                 (isRequired)="crudService.isRequired($event)"></multiple-select>
				<md-checkbox *ngSwitchCase="0"
				             [(ngModel)]="crudService.model[item.property]" name="{{item.headerName}}"
				             [align]="alignment">
					{{item.headerName}}
				</md-checkbox>
				<ng-select *ngSwitchCase="10" [allowClear]="true"
				           [items]="item.custom.type.split(',')"
				           (data)="crudService.model[item.property]"
				           (selected)="crudService.model[item.property] = $event.text"
				           placeholder="{{item.headerName}}">
				</ng-select>
			</div>
			<div class="wrapBtn">
				<div class="formButtons">
					<button md-raised-button color="primary" type="button"
					        (click)="back()" id="back">{{'BACK' | translate}}
					</button>
					<button md-raised-button color="primary"
					        id="modify">{{btnName | translate}}
					</button>
				</div>
			</div>
		</form>
	</loading-grid>
</div>
