<div class="addingForm">
	<loading-grid>
		<form class="form" #addingForm="ngForm" (submit)="onSubmit()">
			<div *ngFor="let item of crudService.gridOptions.columnDefs" [ngSwitch]="item.type">
				<md-input *ngSwitchCase="'STRING'" placeholder="{{item.headerName}}" name="{{item.headerName}}"
				          class="{{item.headerName}}" [readOnly]="!item.editable" [hidden]="!item.visible"
				          [required]="item.mandatory"
				          type="text" autocomplete="off" [(ngModel)]="crudService.model[item.property]"
				          class="form-control"></md-input>
				<md-input
					*ngIf='item.type === "DOUBLE" || item.type === "INTEGER" || item.type === "FLOAT" || item.type === "BYTE" || item.type === "DECIMAL"'
					placeholder="{{item.headerName}}" name="{{item.headerName}}"
					class="{{item.headerName}}" [readOnly]="!item.editable" [hidden]="!item.visible"
					[required]="item.mandatory"
					type="number" autocomplete="off" [(ngModel)]="crudService.model[item.property]"
					class="form-control"></md-input>
				<md-input *ngSwitchCase="'DATETIME'" placeholder="{{item.headerName}}" name="{{item.headerName}}"
				          class="{{item.headerName}}" [readOnly]="!item.editable" [hidden]="!item.visible"
				          [required]="item.mandatory"
				          type="datetime" autocomplete="off" [(ngModel)]="crudService.model[item.property]"
				          class="form-control"></md-input>
				<md-input *ngSwitchCase="'DATE'" placeholder="{{item.headerName}}" name="{{item.headerName}}"
				          class="{{item.headerName}}" [readOnly]="!item.editable" [hidden]="!item.visible"
				          [required]="item.mandatory"
				          type="date" autocomplete="off" [(ngModel)]="crudService.model[item.property]"
				          class="form-control"></md-input>
				<multiple-select *ngIf="item.type === 'LINKSET' || item.type === 'LINK'"
				                 [property]="item"
				                 [rowSelectionLinkset]="'single'"
				                 (isRequired)="crudService.isRequired($event)"></multiple-select>
				<md-checkbox *ngSwitchCase="'BOOLEAN'"
				             [(ngModel)]="crudService.model[item.property]" name="{{item.headerName}}"
				             [align]="alignment">
					{{item.headerName}}
				</md-checkbox>
				<ng-select *ngSwitchCase="'EMBEDDEDLIST'" [allowClear]="true"
				           [items]="item.custom.type.split(',')"
				           (data)="crudService.model[item.property]"
				           (selected)="crudService.model[item.property] = $event.text"
				           placeholder="{{item.headerName}}">
				</ng-select>
			</div>
			<div class="wrapBtn">
				<div class="formButtons">
					<button md-raised-button color="primary" type="button"
					        (click)="back()" id="back">{{'BACK' | translate}}
					</button>
					<button md-raised-button color="primary"
					        id="modify">{{btnName | translate}}
					</button>
				</div>
			</div>
		</form>
	</loading-grid>
</div>
