$backgroundAddRecordButton: #0275d8;
$backgroundBackButton: #000;

#back {
    background: $backgroundBackButton;
}

#addRow {
    background: $backgroundAddRecordButton;
}

md-card-content {
    padding-bottom: 50px;
}

ag-grid-ng2 {
    width: 100%;
}
