.bs-reset {
  background: #fff; }
.bs-reset .login-container .login-6 {
  padding: 80px 0 0 80px;
  color: #5B9BD1;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif; }

.login-content {
  margin-top: 24%;
  padding: 0 80px 20px 80px;
  box-sizing: border-box; }
.login-content .title {
  font-size: 30px;
  font-weight: 300;
  color: #4e5a64;
  font-family: "Open Sans",sans-serif; }
.login-content .description {
  color: #a0a9b4;
  font-size: 15px;
  line-height: 22px;
  margin: 20px 0;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box; }

.login-form {
  box-sizing: border-box;
  margin-top: 33px;
  padding-top: 50px; }
.login-form .rem-password {
  margin-top: 12px !important; }
.login-form .rem-password .remember {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #a0a9b4;
  font-weight: normal !important; }
.login-form .rem-password .own-check {
  width: 16px;
  height: 16px;
  border-radius: 0;
  outline-color: #868e97;
  margin: 1px 0 0 10px;
  border: none #a0a9b4;
  outline: 0 !important;
  float: left; }
.login-form .rem-password input[type="checkbox"] {
  display: none; }
.login-form .rem-password input[type="checkbox"] + label span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 9px;
  background: url(./../../../assets/img/sprite.png) 0 502px;
  cursor: pointer; }
.login-form .rem-password input[type="checkbox"]:checked + label span {
  background: url(./../../../assets/img/sprite.png) -76px 502px; }
.login-form .alert {
  margin-top: -50px;
  box-shadow: rgba(0, 0, 0, 0.09) 0 1px 3px 0, rgba(0, 0, 0, 0.18) 0 1px 2px 0; }
.login-form .ng-valid[required] {
  border-bottom: 2px solid #42A948; }
.login-form .ng-invalid {
  border-bottom: 2px solid #a94442; }
.login-form input {
  width: 100%;
  padding: 10px;
  background: #fff;
  border: none #a0a9b4;
  border-bottom: 1px solid;
  color: #868e97;
  font-size: 14px;
  margin-bottom: 30px;
  box-shadow: none !important;
  outline: 0 !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
.login-form .close-btn {
  width: 10px;
  height: 10px;
  float: right;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2; }
.login-form .close-btn:hover {
  color: #191919; }
.login-form .btn {
  color: #FFF;
  background-color: #3598dc;
  border-color: #3598dc;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif; }
.login-form .btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  background: #217EBD;
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
.login-form .error-user {
  border-bottom: 2px solid #ed6b75 !important; }

.login-bg {
  background: url(./../../../assets/img/bg1.jpg) -72px -129px;
  height: 100%; }

@media (min-width: 992px) {
  .bs-reset img {
    display: none; }

  .col-md-6 {
    width: 50%; } }
@media (max-width: 992px) {
  .login-6 {
    padding: 40px 0 0 40px !important; }

  .login-content {
    margin-top: 5% !important;
    padding: 0 40px 10px 40px; }

  .login-bg {
    display: none; }

  .col-md-6 {
    padding: 0; } }
@media (max-width: 1365px) {
  .user-login-5 .login-logo.login-6 {
    top: 40px;
    left: 40px; }
  .user-login-5 .login-container > .login-content, .user-login-5 .login-container .login-social, .user-login-5 .login-container .login-copyright {
    padding: 0 40px; }
  .user-login-5 .login-container .login-social {
    padding-right: 0; }
  .user-login-5 .login-container .login-copyright {
    padding-left: 0; } }
@media (max-width: 1023px) {
  .user-login-5 {
    min-height: 50vh; }
  .user-login-5 .login-bg {
    min-height: 50vh; }
  .user-login-5 .login-logo.login-6 {
    position: relative;
    margin: 0 0 40px 0; }
  .user-login-5 .login-container {
    min-height: 50vh; }
  .user-login-5 .login-container > .login-content {
    margin-top: 60px; }
  .user-login-5 .login-container > .login-content .login-form {
    margin-top: 40px; }
  .user-login-5 .login-container .rem-password {
    margin-bottom: 1em; }
  .user-login-5 .login-container > .login-footer {
    position: relative;
    margin-top: 40px;
    padding-bottom: 0; }
  .user-login-5 .login-container > .login-footer .login-social li {
    margin-right: 0.5em; }
  .user-login-5 .alert {
    margin-top: -20px; } }
@media (max-width: 640px) {
  .user-login-5 .login-container > .login-content .text-right {
    text-align: left; } }

/*# sourceMappingURL=login.css.map */
