.container {
    padding-top: 400px;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 0;
    background: #E9ECF3;
    border: none #a0a9b4;
    border-bottom: 1px solid;
    color: #868e97;
    font-size: 14px;
    margin-bottom: 30px;
    box-shadow: none !important;
    outline: 0 !important;
}

.btn {
    color: #FFF;
    background-color: #3598dc;
    border-color: #3598dc;
    border-radius: 0;
}