<div class="container">
    <form class="login-form" role="form" (submit)="authentication(login.value, pwd.value)">
        <div class="row">
            <div class="col-xs-6">
                <input #login class="username form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Username" name="username" required/> </div>
            <div class="col-xs-6">
                <input #pwd class="password form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Password" name="password" required/> </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8 text-right">
                <button class="btn blue" type="submit">Log In</button>
            </div>
        </div>
    </form>
</div>
