<div id="crud-view-window">
	<p-dataTable [value]="rowData" [(selection)]="selectedRows" resizableColumns="true"
	             (onRowSelect)="onRowSelect($event)"
	             scrollable="true" scrollHeight="400px" selectionMode="single">
		<header class="grid-header">
			<div class="ui-helper-clearfix" style="width:100%">
				<i *ngIf="!crudLevelService.isEmptyCrudLevels()" class="fa fa-chevron-left"
				   aria-hidden="true" title="{{ 'BACK' | translate }}" (click)="back()" id="back-button"></i>
				<span class="grid-title">{{ crudService.getClassName() | uppercase | translate}}</span>

				<button type="button" (click)="navigateToCreate()" pButton icon="fa-plus" style="float:right"
				        label="Add"></button>
				<!--<button type="button" [disabled]="!selectedRows" (click)="navigateToDelete()"-->
				<!--pButton icon="fa-remove" style="float:right" label="Delete"></button>-->
			</div>
		</header>
		<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
		<p-column [field]="'test'" [style]="{'width':'50px'}">
			<template pTemplate="body">
				<span class="fa fa-pencil" style="padding-right: 3px; color: #009688;" (click)="onEdit()"></span>
				<span class="fa fa-trash" style="color: #E53935;" (click)="onDelete()"></span>
			</template>
		</p-column>
		<p-column [field]="column.field" [style]="{'width':'200px'}" [header]="column.headerName" [sortable]="true"
		          *ngFor="let column of columnDefs"></p-column>
	</p-dataTable>
	<p-paginator id="grid-pagination" [rows]="pagination.size" [totalRecords]="pagination.totalElements"
	             [rowsPerPageOptions]="[10,20,30]" (onPageChange)="onPaginate($event)"></p-paginator>
</div>
