.opionPanel {
    align-items: center;
}

@media all and (min-width: 550px) {
    .buttonsPanel {
        justify-content: flex-end;
    }

    ag-grid-ng2 {
        height: calc(100% - 109px);
    }
}

@media all and (max-width: 550px) {
    #windowGrid {
        .opionPanel {
            width: 100%;
            flex-direction: column;
        }

        ag-grid-ng2 {
            height: calc(100% - 150px);
        }

        .searchPanel {
            width: 100%;
            padding: 0 0 7px 0 !important;
        }

        .buttonsPanel {
            width: 100%;
            justify-content: center;

            button {
                flex-grow: 1;
            }
        }
    }
}
