#customer-crud {
	padding: 0;
    height: 100%;
	background: #fff;

    md-card-content {
        height: inherit;
    }

    .md-card {
        height: inherit;
    }

	.title {
		margin-bottom: 10px;
	}

}
