$primaryColor: #009688;

#crud-window {
	height: calc(100% - 92px);
	padding: 0;

	.crud-title {
		color: #fff;
		background-color: $primaryColor;
	}

	.card-title {
		margin: 0 !important;
	}

	.title {
		margin-bottom: 16px;
	}

	.card-content {
		height: calc(100% - 74px);
		padding: 0;
	}

}
