<div class="addingForm">
    <form [hidden]="crudService.showLinksetView" class="form" #addingForm="ngForm" (submit)="onSubmit()">
        <div *ngFor="let item of crudService.crudModel.columnDefs" [ngSwitch]="item.type">
            <md-input *ngSwitchCase="'STRING'" placeholder="{{item.headerName}}" name="{{item.headerName}}" id="{{item.headerName}}"
                      type="text" autocomplete="off" [(ngModel)]="crudService.model[item.field]" [required]="item.required"
                      class="form-control"></md-input>
            <md-input *ngSwitchCase="'DOUBLE'" placeholder="{{item.headerName}}" name="{{item.headerName}}" id="{{item.headerName}}"
                      type="text" autocomplete="off" [(ngModel)]="crudService.model[item.field]" [required]="item.required"
                      class="form-control"></md-input>
            <multiple-select *ngSwitchCase="'LINKSET'"
                             [property]="item" [crudService]="crudService"
                             [rowSelectionLinkset]="'single'" (isRequired)="isRequired($event)"></multiple-select>
            <multiple-select *ngSwitchCase="'LINK'"
                             [property]="item" [crudService]="crudService"
                             [rowSelectionLinkset]="'multiple'"></multiple-select>
            <md-checkbox *ngSwitchCase="'BOOLEAN'"
                         [(ngModel)]="crudService.model[item.field]" name="cb" [align]="alignment">
                {{item.headerName}}</md-checkbox>
            <ng-select *ngSwitchCase="'EMBEDDEDLIST'" [allowClear]="true"
                       [items]="item.custom.type.split(',')"
                       (data)="crudService.model[item.field]"
                       (selected)="crudService.model[item.field] = $event.text"
                       placeholder="{{item.headerName}}">
            </ng-select>
        </div>
        <div class="wrapBtn">
            <div class="formButtons">
                <button md-raised-button color="primary" (click)="router.navigateByUrl(crudService.currPath);" id="cancel">{{'CANCEL' | translate}}</button>
                <button md-raised-button color="primary" [disabled]="!addingForm.form.valid || crudService.addingFormValid" id="add">{{btnName | uppercase | translate}}</button>
            </div>
        </div>
    </form>
    <div *ngIf="crudService.showLinksetView">
        <crud-linkset></crud-linkset>
    </div>
</div>
