$color-1: #AAB5BC;
$color-2: #2ab4c0;
$color-3: #f36a5a;
$color-4: #5C9BD1;
$color-5: #8877a9;
$color-6: #AAB5BC;
$color-7: #e1e1e1;
$color-8: #009688;
$color-9: #adc1d0;
$color-10: #D32F2F;

md-card.status {
    position: relative;
    margin-right: 5px;
    &:last-child {
        margin-right: 0px;
    }
    .icon {
        position: absolute;
        top: 12px;
        right: 23px;
        font-size: 32px;
        color: $color-1;
    }
    md-card-header-text {
        display: block;
        &.md-title {
            font-size: 37px;
            font-weight: 400;
            span {
                font-size: 27px;
            }
        }
        &.md-subhead {
            font-size: 14px;
            text-transform: uppercase;
            color: $color-1;
        }
    }
    .progress-container {
        margin-top: 15px;
        .progress-bar {
            height: 4px;
            margin-bottom: 10px;
            position: relative;
            background-color: $color-1;
            .active-progress {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
            }
        }
        .info {
            font-size: 13px;
            color: $color-1;
            span {
                display: inline-block;
                &.status {
                    clear: both;
                }
                &.percent {
                    float: right;
                }
            }
        }
    }
    &.profit {
        .md-title {
            color: $color-2;
        }
        .active-progress {
            background-color: $color-2;
            width: 75%;
        }
    }
    &.feedback {
        .md-title {
            color: $color-3;
        }
        .active-progress {
            background-color: $color-3;
            width: 35%;
        }
    }
    &.orders {
        .md-title {
            color: $color-4;
        }
        .active-progress {
            background-color: $color-4;
            width: 60%;
        }
    }
    &.users {
        .md-title {
            color: $color-5;
        }
        .active-progress {
            background-color: $color-5;
            width: 88%;
        }
    }
}

.content {
    min-width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid transparent;
    .innerWrap {
        min-width: 100%;
        height: 100%;
        position: relative;
    }
    .view-width {
        position: absolute;
        top: calc(20% - 35px);
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1000;
        text-align: center;
        overflow: hidden;
        opacity: 0;
        transition: all .4s ease-in;
        .wrap {
            position: relative;
            transition: left 300ms ease;
            &.view-width-open {
                left: 0%;
            }
            .icon {
                position: absolute;
                right: -20px;
                top: -5px;
                bottom: 0px;
                margin: auto 0px;
                height: 100%;
                color: $color-9;
                cursor: pointer;
                div {
                    display: table;
                    width: 100%;
                    height: 100%;
                    i {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 27px;
                    }
                }
            }
            md-button {
                display: inline-table;
                background-color: #009688;
                width: 35px;
                height: 35px;
                border-radius: 100%;
                position: relative;
                margin-left: 7px;
                cursor: pointer;
                transition: background 200ms ease;
                color: #fff;
                cursor: pointer;
                &.active{
                    background: #000;
                }
                &:hover {
                    background: #000;
                }
                span {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    line-height: 1px;
                }
            }
        }
    }
    .crud {
        position: absolute;
        top: 0px;
        right: 0;
        z-index: 2000;
        text-align: right;
        padding: 10px;
        padding-top: 1px;
        padding-left: 20px;
        padding-right: 0px;
        overflow: hidden;
        .wrap {
            position: relative;
            right: -100%;
            transition: right 300ms ease;
            &.crudOpen {
                right: 0%;
                padding-right: 10px;
            }
            .icon {
                position: absolute;
                left: -20px;
                top: 0px;
                bottom: 0px;
                margin: auto 0px;
                height: 100%;
                cursor: pointer;
                div {
                    display: table;
                    width: 100%;
                    height: 100%;
                    padding-bottom: 7px;
                    i {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 27px;
                        color: #adc1d0;
                    }
                }
            }
            i {
                display: inline-block;
                color: $color-10;
                font-size: 24px;
                line-height: initial;
                width: 24px;
                height: 26px;
                margin-top: 9px;
                cursor: pointer;
            }
        }
    }
    .closeTool{
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 300ms ease-in;
        -moz-transition:  opacity 300ms ease-in;
        -ms-transition:  opacity 300ms ease-in;
        -o-transition:  opacity 300ms ease-in;
        transition:  opacity 300ms ease-in;
        i{
            color: $color-10;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
        }
    }
    &.crudOpen {
        overflow: hidden;
        border: 1px solid $color-7;

        .closeTool{
            visibility: visible;
            opacity: 1;
        }

        .crud .wrap {
            right: 0%;
            padding-right: 10px;
            > .icon{
                display: none;
            }
        }

        .view-width{
            top: calc(50% - 17.5px) !important;
            opacity: 1;
        }

        md-card {
            -webkit-filter: blur(6px);
            -moz-filter: blur(6px);
            -o-filter: blur(6px);
            -ms-filter: blur(6px);
            filter: blur(6px);
        }
    }
    div.chart {
        position: relative;
        height: 100%;
        margin-right: 5px;
        &:last-child {
            margin-right: 0px;
        }
        md-card {
            height: 100%;
        }
        md-header {
            position: relative;
            display: block;
            padding-bottom: 15px;
            border-bottom: 1px solid $color-6;
            md-card-header-text {
                &.md-title {
                    font-size: 16px;
                    font-weight: 600;
                    margin-right: 10px;
                }
                &.md-subhead {
                    color: $color-1;
                }
            }
            .toolbar {
                position: absolute;
                top: 0px;
                right: 0px;
                .icon {
                    color: $color-1;
                    cursor: pointer;
                }
            }
        }
    }

    md-card {
        transition: all 400ms ease-in;
    }
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
}
