<div class="content rectangle" [ngClass]="{fullscreen: fullscreenMode, 'crudOpen': crudOpen}"
>
    <div class="innerWrap">
        <div class="closeTool">
            <i class="material-icons" (click)="crudOpen = false">clear</i>
        </div>
        <div class="crud">
            <div class="wrap">
                <div class="icon" (click)="crudOpen = true">
                    <div>
                        <i class="material-icons">more_vert</i>
                    </div>
                </div>
                <i class="material-icons button remove" (click)="emitRemoveBox()">delete_forever</i>
            </div>
        </div>
        <div class="view-width">
            <div class="wrap" [ngClass]="{'view-width-open': viewWidth}">
                <div>
                    <md-button (click)="emitResizeBox({val: 25, type: 'height'})" [ngClass]="{'active': statusBoxHeight == 25}">
                        <span>
                           S
                        </span>
                    </md-button>
                    <md-button  (click)="emitResizeBox({val: 50, type: 'height'})" [ngClass]="{'active': statusBoxHeight == 50}">
                        <span>
                            L
                        </span>
                    </md-button>
                    <md-button  (click)="emitResizeBox({val: 75, type: 'height'})" [ngClass]="{'active': statusBoxHeight == 75}">
                        <span>
                            X
                        </span>
                    </md-button>
                </div>
                <div>
                    <md-button (click)="emitResizeBox({val: 25, type: 'width'})" [ngClass]="{'active': statusBoxWidth == 25}">
                        <span>
                           25%
                        </span>
                    </md-button>
                    <md-button  (click)="emitResizeBox({val: 50, type: 'width'})" [ngClass]="{'active': statusBoxWidth == 50}">
                        <span>
                            50%
                        </span>
                    </md-button>
                    <md-button  (click)="emitResizeBox({val: 75, type: 'width'})" [ngClass]="{'active': statusBoxWidth == 75}">
                        <span>
                            75%
                        </span>
                    </md-button>
                    <md-button  (click)="emitResizeBox({val: 100, type: 'width'})" [ngClass]="{'active': statusBoxWidth == 100}">
                        <span>
                            100%
                        </span>
                    </md-button>
                </div>
            </div>
        </div>
        <md-card *ngIf="config.type == 'status'" class="status box {{ config.name }}">
            <i class="material-icons icon">
                {{ config.icon }}
            </i>
            <md-card-header-text class="md-title" [innerHTML]="config.header"></md-card-header-text>
            <md-card-header-text class="md-subhead">
                {{ config.subHeader }}
            </md-card-header-text>
            <div class="progress-container">
                <div class="progress-bar">
                    <span class="active-progress"></span>
                </div>
                <div class="info">
            <span class="status">
                {{ config.customData.processStatus }}
            </span>
                <span class="percent">
                {{ config.customData.percent }}%
            </span>
                </div>
            </div>
        </md-card>

        <div *ngIf="config.type == 'chart'" class="chart">
            <md-card>
                <md-header>
                    <md-card-header-text class="md-title">
                        {{ config.header }}
                    </md-card-header-text>
                    <md-card-header-text class="md-subhead">
                        {{ config.subHeader }}
                    </md-card-header-text>
                    <div class="toolbar">
                        <i class="material-icons icon " (click)="toggleFullscreen()">
                            {{ fullscreenMode ? 'fullscreen' : 'fullscreen_exit' }}
                        </i>
                    </div>
                </md-header>
            </md-card>
        </div>
    </div>
</div>
