<breadcrumb></breadcrumb>
<loading-router-outlet></loading-router-outlet>

<div id="dashboard" class="wrapper">
    <router-outlet></router-outlet>
    <div *ngFor="let item of [0, 1]; let i = index;">
        <div [ngClass]="[testArr[i]]">
            Hello
        </div>
    </div>
    <md-content class="status container" [dragula]='"status-bag"'>
        <div *ngFor="let item of boxesArr | orderby : {key: 'order', direction: 'ascending'}; let i = index; let last = last" class="box"
             [ngClass]="[boxes.container.height[i], boxes.container.width[i]]" [ngStyle]="{'flex-basis': item.width + '%'}" attr.data-boxrid="{{item['@rid']}}">
            Hi
            <dashboard-box [ngClass]="boxes.remove[i]" class="status" *ngIf="item.typename == 'status'"
                           (resizeBox)="resizeBox($event, i, item)"
                           [config]="{
                                'type': 'status',
                                'name': 'profit',
                                'header': '7001 ',
                                'subHeader': item.name,
                                'width': item.width,
                                'height': item.height,
                                'icon': 'account_balance_wallet',
                                'customData': {
                                    'processStatus': 'Progress',
                                    'percent': '75'
                                }
                            }" (removeBox)="removeBox(item['@rid'], i)"
            ></dashboard-box>
            <dashboard-box class="chart" [ngClass]="boxes.remove[i]" *ngIf="item.typename == 'chart'" [config]="{
                'type': 'chart',
                'header': item.name,
                'subHeader': item.description,
                'width': item.width,
                'height': item.height
            }" (resizeBox)="resizeBox($event, i, item)" (removeBox)="removeBox(item['@rid'], i)"
            ></dashboard-box>
            <!--<span *ngIf='last'>{{hello(last)}}</span>-->
        </div>
    </md-content>
</div>
