<breadcrumb></breadcrumb>
<loading-router-outlet></loading-router-outlet>

<div id="dashboard" class="wrapper">
    <router-outlet></router-outlet>
    <div class="topToolbar">
        <div class="add toolButton">
            <i class="material-icons">add</i>
        </div>
    </div>
    <md-content class="status container" [dragula]='"status-bag"'>
        <div *ngFor="let item of boxesArr | orderby : {key: 'order', direction: 'ascending'}; let i = index; let last = last"
             [ngClass]="[boxes.container.height[i], boxes.container.width[i]]" attr.data-boxrid="{{item.metaData.rid}}"
             class="box {{item.type.name}}"
        >
            <dashboard-box class="status" [ngClass]="boxes.remove[i]" *ngIf="item.type.name == 'status'"
                           (resizeBox)="resizeBox($event, i, item)"
                           [config]="{
                                'type': 'status',
                                'name': 'profit',
                                'header': '7001 ',
                                'subHeader': item.name,
                                'width': item.width,
                                'height': item.height,
                                'icon': 'account_balance_wallet',
                                'customData': {
                                    'processStatus': 'Progress',
                                    'percent': '75'
                                }
                            }" (removeBox)="removeBox(item.metaData.rid, i)" (editBox)="editBox(item.metaData.rid)"
            ></dashboard-box>
            <dashboard-box class="chart" [ngClass]="boxes.remove[i]" *ngIf="item.type.name == 'chart'" [config]="{
                'type': 'chart',
                'header': item.name,
                'subHeader': item.description,
                'width': item.width,
                'height': item.height
            }" (resizeBox)="resizeBox($event, i, item)" (removeBox)="removeBox(item.metaData.rid, i)"
            ></dashboard-box>
        </div>
    </md-content>
</div>
