$color-1: #AAB5BC;
$color-2: #2ab4c0;
$color-3: #f36a5a;
$color-4: #5C9BD1;
$color-5: #8877a9;
$color-6: #AAB5BC;

md-card.status {
    position: relative;
    margin-right: 5px;
    &:last-child {
        margin-right: 0px;
    }
    .icon {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 32px;
        color: $color-1;
    }
    md-card-header-text {
        display: block;
        &.md-title {
            font-size: 37px;
            font-weight: 400;
            span {
                font-size: 27px;
            }
        }
        &.md-subhead {
            font-size: 14px;
            text-transform: uppercase;
            color: $color-1;
        }
    }
    .progress-container {
        margin-top: 15px;
        .progress-bar {
            height: 4px;
            margin-bottom: 10px;
            position: relative;
            background-color: $color-1;
            .active-progress {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
            }
        }
        .info {
            font-size: 13px;
            color: $color-1;
            span {
                display: inline-block;
                &.status {
                    clear: both;
                }
                &.percent {
                    float: right;
                }
            }
        }
    }
    &.profit {
        .md-title {
            color: $color-2;
        }
        .active-progress {
            background-color: $color-2;
            width: 75%;
        }
    }
    &.feedback {
        .md-title {
            color: $color-3;
        }
        .active-progress {
            background-color: $color-3;
            width: 35%;
        }
    }
    &.orders {
        .md-title {
            color: $color-4;
        }
        .active-progress {
            background-color: $color-4;
            width: 60%;
        }
    }
    &.users {
        .md-title {
            color: $color-5;
        }
        .active-progress {
            background-color: $color-5;
            width: 88%;
        }
    }
}

.content {
    min-width: 100%;
    height: 100%;
    position: relative;
    .innerWrap {
        min-width: 100%;
        height: 100%;
        position: relative;
    }
    .view-width{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        text-align: right;
        padding: 10px;
        padding-right: 20px;
        padding-left: 0px;
        overflow: hidden;
        .wrap {
            position: relative;
            left: -100%;
            transition: left 300ms ease;
            &.view-width-open {
                left: 0%;
            }
            .icon {
                position: absolute;
                right: -20px;
                top: -5px;
                bottom: 0px;
                margin: auto 0px;
                height: 100%;
                color: #adc1d0;
                cursor: pointer;
                div {
                    display: table;
                    width: 100%;
                    height: 100%;
                    i {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 27px;
                    }
                }
            }
            md-button {
                color: $color-1;
                padding-right: 5px;
                cursor: pointer;
                &:hover{
                    color: #8d969c;
                }
            }
        }
    }
    .crud {
        position: absolute;
        top: 5px;
        right: 0;
        z-index: 1;
        text-align: right;
        padding: 10px;
        padding-left: 20px;
        padding-right: 0px;
        overflow: hidden;
        .wrap {
            position: relative;
            right: -100%;
            transition: right 300ms ease;
            &.crudOpen {
                right: 0%;
            }
            .icon {
                position: absolute;
                left: -20px;
                top: 0px;
                bottom: 0px;
                margin: auto 0px;
                height: 100%;
                color: #adc1d0;
                cursor: pointer;
                div {
                    display: table;
                    width: 100%;
                    height: 100%;
                    i {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 27px;
                    }
                }
            }
            md-button {
                display: inline-block;
                background-color: #009688;
                width: 45px;
                height: 45px;
                border-radius: 100%;
                position: relative;
                margin-left: 7px;
                cursor: pointer;
                transition: box-shadow 200ms ease;
                &:hover {
                    box-shadow: 0 0 10px 6px rgba(0, 150, 136, 0.22);
                }
                i {
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    color: #fff;
                    font-size: 28px;
                    line-height: initial;
                    width: 28px;
                    height: 27px;
                }
            }
        }
    }
    div.chart {
        position: relative;
        height: 100%;
        margin-right: 5px;
        &:last-child {
            margin-right: 0px;
        }
        md-card {
            height: 100%;
        }
        md-header {
            position: relative;
            display: block;
            padding-bottom: 15px;
            border-bottom: 1px solid $color-6;
            md-card-header-text {
                &.md-title {
                    font-size: 16px;
                    font-weight: 600;
                    margin-right: 10px;
                }
                &.md-subhead {
                    color: $color-1;
                }
            }
            .toolbar {
                position: absolute;
                top: 0px;
                right: 0px;
                .icon {
                    color: $color-1;
                    cursor: pointer;
                }
            }
        }
    }
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
}
