.addingForm {
	width: 100%;
    height: inherit;
	display: inline-block;

	md-input {
		background: transparent;
		border: none;
		width: 99%;
		padding: 0 12px;
	}

    .formButtons {
        float: right;
        padding: 5px 10px 10px 0;
    }
}
